
<% choice_array = [:choice_0, :choice_1, :choice_2, :choice_3, :choice_4, :choice_5] %>

<h2>Answer Choices</h2>
<h3>Mark the bubble for the correct answer.</h3>
</br>
<table class="table-borderless"><thead>
    <th>Correct? &nbsp;</th>
    <th>&emsp; Answer Choice</th>
</thead><tbody>
    
    <% 6.times do |n| %>
        <% default_text = @question.attributes["choice_#{n}"] %>
        <% checkery = (@question.correct_answers&.include?(default_text) ? "checked='checked'" : "") %>
        <tr><div class="row">
            <td><input type="radio" value="<%= n %>" name="questions[<%= @index.to_i %>][whichIsCorrect]" id="question_<%= @index %>_whichIsCorrect_<%= n %>" <%= checkery %> /></td>
            <td><input type="text" name="questions[<%= @index.to_i %>][choice_<%= n %>]" id="question_<%= @index %>_choice_<%= n %>" value="<%= default_text %>" /></td>
        </div></tr>
    <% end %>
</tbody></table>