<% provide(:title, 'Edit Question') %>
<% provide(:button_text, 'Save Changes') %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<% choice_array = [:choice_0, :choice_1, :choice_2, :choice_3, :choice_4,
        :choice_5] %>


<%= form_for(@question) do |q| %>
  <div class="row">
    <%= q.submit yield(:button_text), class: "btn btn-primary", :id => "save_changes_1" %>
  </div>
  
  <div class="row">
    <%= render 'prompt_and_answers', :locals =>{:index => 0, :style => @question.style} %>
  </div>
  </br>
  
  <div class="row">
    <%= render 'key_attributes' %>
  </div>
  </br>
  
  <div class="row">
    <%= q.submit yield(:button_text), class: "btn btn-primary", :id => "save_changes_2" %>
  </div>
<% end %>
