<% provide(:title, 'Edit Question') %>
<% provide(:button_text, 'Save Changes') %>

<% provide(:headerText, "Edit Question") %>
<% provide(:headerPic, "label.png") %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>



<%= form_for(@question) do |q| %>
  <%= render 'shared/error_messages', object: @question %>
  <div class="row">
    <%= q.submit yield(:button_text), class: "btn btn-primary", :id => "save_changes_1" %>
  </div>
  
  <div class="row">
    <%= render 'prompt_and_answers', :locals =>{:index => 0, :style => @question.style} %>
  </div>
  </br>
  
  <div class="row">
    <%= render 'key_attributes', form: q %>
  </div>
  </br>
  
  <div class="row">
    <%= q.submit yield(:button_text), class: "btn btn-primary", :id => "save_changes_2" %>
  </div>
<% end %>
