<% provide(:title, 'Edit Question') %>
<% provide(:button_text, 'Save Changes') %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<% choice_array = [:choice_0, :choice_1, :choice_2, :choice_3, :choice_4,
        :choice_5] %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@question) do |q| %>
    
      <%= render 'shared/error_messages', object: @question %>
      
      
      <div class="singleOption">
        <h2>Question Created by: <%= @createdLabel %> &nbsp;</h2>
        </br>
        <%= q.hidden_field :user_id, :value => @question.user_id %>
        <% if @assignPermission != "other" %>
          <%= q.collection_radio_buttons :extent, [['public', 'Public Question'] ,['private', 'Private Question']],
                           :first, :last, { item_wrapper_tag: false } do |b| %>
            <label class="radio-inline">
              <%= b.radio_button %> &nbsp; <%= b.label %>
            </label>
          <% end %>
        <% else %>
          </br>
          </br>
          You may only edit a question that you have created.
          <%= q.hidden_field :extent, :value => @question.extent %>
        <% end %>
      </div>
      
      <div class="singleOption">
        <h2>Prompt &nbsp;</h2>
        <% if @assignPermission != "other" %>
          <%= q.text_area :prompt, {class: 'form-control short-field text-area', :id => "prompt"} %>
        <% else %>
          <h4><%= @question.prompt %></h4>
        <% end %>
      </div>
     
      </br>
      <div class="singleOption">
        <h2>Answer Choices</h2>
        <% if @assignPermission != "other" %>
          <table class="table-borderless">
            <thead>
              <th>Correct? &nbsp;</th>
              <th>&emsp; Answer Choice</th>
            </thead>
            <tbody>
              <% 6.times do |n| %>
                <tr>
                  <div class="row">
                    <% check_button = (n == 0 ? true : false) %>
                    <% which_choice = choice_array[n] %>
                    <td><%= radio_button :question, :whichIsCorrect, n, {:checked => check_button} %></td>
                    <td><%= q.text_field which_choice, class: 'form-control short-field answer-choice', :id => "#{which_choice}_edit" %></td>
                  </div>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <% 6.times do |n| %>
            <table>
              <% thisAnswerChoice = @question.read_attribute(choice_array[n]) %>
              <% if thisAnswerChoice.blank? == false %>
                <tr>
                  <td>
                    <% conditional_wrapper(@question.correct_answers.include?(thisAnswerChoice)) do %>
                      <%= thisAnswerChoice %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>
        <% end %>
      </div>
      
      </br>
      <div class="singleOption">
        <h2>Label</h2>
        <% if @assignPermission != "other" %>
          <table>
            <%= q.collection_radio_buttons(:label_id, @labels, :id, :name, { checked: @question.label.id}) do |b| %>
              <tr>
                <td width="20%"><%= b.radio_button(:id => "label_#{b.object.id}") %></td>
                <td><%= b.label %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <%= @question.label.name %>
        <% end %>
      </div>
      
      </br>
      <%= q.submit yield(:button_text), class: "btn btn-primary" %>
      
    <% end %>
  </div>
</div>
