
<% provide(:title, 'All Questions') %>
<% provide(:headerText, 'All Questions') %>
<% provide(:headerPic, 'question.png') %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<%= render :partial => 'shared/searchField', 
  :locals => {:whichPath => questions_path,
              :attrLabel1 => "Prompt", :attrLabel2 => nil, :attrLabel3 => nil, :attrLabel4 => nil, :attrLabel5 => nil,
              :attrData1 => :prompt, :attrData2 => nil, :attrData3 => nil, :attrData4 => nil, :attrData5 => nil} %>


<% if @questions != [0] %>
  <% if !@questions.empty? %>
  
    <div>
      <%= will_paginate %>
        <% @questions.each do |question| %>
          <table>
            <% if current_user.type == "Admin" %>
              <tr>
                <td><%= question.created_at.strftime("%Y-%m-%d") %></td>
                <td><%= question.updated_at.strftime("%Y-%m-%d") %></td>
              </tr>
            <% end %>
            <tr class="users">
              <td><% if question.user == current_user || current_user.type == "Admin" %>
                  <%= link_to "Delete", question, method: :delete, :id => "delete_#{question.id}",
                              data: { confirm: "You are about to permanently remove all records of this question. All scores for this question will also be deleted. This cannot be undone."  } %>
                  <% end %>
              </td>
              <td><%= question.extent.capitalize %></td>
              <td>Label: <%= question.label.name if question.label %></td>
            </tr>
            <tr>
              <td>
                <% if question.picture.present? %>
                  <%= link_to image_tag(question.picture.image_url(:thumb).to_s), edit_question_path(question), :id => "schmedit_#{question.id}" %>
                <% end %>
              </td>
              <td colspan="2"><%= link_to question.short_prompt, edit_question_path(question), :id => "edit_#{question.id}" %></td>
            </tr>
            <tr>
              <td colspan = "3">
                <% 6.times do |n| %>
                  <% this_choice = question.read_attribute(:"choice_#{n}") %>
                  <% if !(this_choice.blank?) %>
                    <% if n > 0 %>
                      , &nbsp;
                    <% end %>
                    <% conditional_wrapper(question.correct_answers.include?(this_choice)) do %>
                      <%= this_choice %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </table>
          </br>
        <% end %>
      <%= will_paginate %>
    </div>
  <% else %>
    <%# Show Nothing if @questions is empty. That makes it so user doesn't get the "Nothing
      found for that search method if they were just visiting that screen for the first time. %>
  <% end %>
<% else %>
  <h3>Nothing found for that search.</h3>
<% end %>