<% provide(:title, 'New Questions') %>
<% provide(:headerText, "Label and Style for New Questions") %>
<% provide(:headerPic, 'question.png') %>

<% choice_array = [:choice_0, :choice_1, :choice_2, :choice_3, :choice_4,
        :choice_5] %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<%= form_tag details_questions_path do %>
    <%= render 'key_attributes' %>
    </br>
    
    <div class="actions">
        <%= submit_tag "Create Some Questions" %>
    </div>
<% end %>