<p id="notice"><%= notice %></p>

<p>
  <strong>Prompt:</strong>
  <%= @question.prompt %>
</p>

<p>
  <strong>Extent:</strong>
  <%= @question.extent %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user %>
</p>

<p>
  <strong>Label:</strong>
  <%= @question.label %>
</p>

<p>
  <strong>Correct answers:</strong>
  <%= @question.correct_answers %>
</p>

<p>
  <strong>Choice 0:</strong>
  <%= @question.choice_0 %>
</p>

<p>
  <strong>Choice 1:</strong>
  <%= @question.choice_1 %>
</p>

<p>
  <strong>Choice 2:</strong>
  <%= @question.choice_2 %>
</p>

<p>
  <strong>Choice 3:</strong>
  <%= @question.choice_3 %>
</p>

<p>
  <strong>Choice 4:</strong>
  <%= @question.choice_4 %>
</p>

<p>
  <strong>Choice 5:</strong>
  <%= @question.choice_5 %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @question.picture %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
