
<% this_score = @quiz.total_score %>
<% old_stars = @quiz.old_stars %>

<div class="singleOption container">
    <div class="row">
        <h1><%= pluralize(this_score, 'Star') %></h1>
        <div class="center"
            <% 11.times do |x| %>
                <% if this_score >= x %>
                    <% if old_stars >= x %>
                        <% pic = "stars/star_yellow.png" %>
                    <% else %>
                        <% pic = "stars/star_new.png" %>
                    <% end %>
                <% else %>
                    <% pic = "stars/star_empty.png" %>
                <% end %>
                
                <%= image_tag (pic) %>
            <% end %>
        </div>
        </br></br>
            
        <div class="col-sm-4 center">
            <h5>Previous score this term</h5>
            <%= pluralize(@quiz.old_stars, 'Star') %>
        </div>
        
        <div class="col-sm-4 center">
            <h5>New Stars</h5>
            <%= pluralize(@quiz.added_stars, 'Star') %>
        </div>
        
        <div class="col-sm-4 center">
            <h5>Highest score ever</h5>
            <%= pluralize(@this_os.points_all_time, 'Star') %>
        </div>
    </div>
</div>
</br>