

<div class="singleOption container">
    <div class="row">
        <div class="col-sm-4">
            <h2>This Score: <%= @quiz.total_score %> %
            </br><strong><%= pluralize(@quiz.stars_from_score, 'Star') %></stong></h2>
            
            </br>
            <h5>Previous score this term<br>
            <%= pluralize(@quiz.old_stars, 'Star') %></h5>
            <h5>Highest score ever</h5>
            <%= pluralize(@this_os.points_all_time, 'Star') %></h5>
        </div>
        
        <div class="col-sm-6">
            <h1>New Stars</h1>
            <% 10.times do |x| %>
                <% pic = @quiz.added_stars > x ? "stars/filled_star.png" : "stars/empty_star.png" %>
                <%= image_tag (pic) %>
            <% end %>
            </br>
            
            
            <h2><%= pluralize(@quiz.added_stars, 'Star') %></h2>
        </div>
    </div>
</div>
</br>