<%= render 'quizzes/total_score' %>

<div class="container">
    <% @quiz.ripostes.each do |riposte| %>
        <% question = riposte.question %>
        <div class="container singleOption topic">
            </br>
            <div class="singleOption lowSingOpt">
                <div class="row">
                    <div class="col-sm-6">
                        <%= question.prompt %>
                    </div>
                    <div class="col-sm-6">
                        <% picture = question.picture %>
                        <%= image_tag(picture.image_url(:quiz_size).to_s) if picture.present? %>
                    </div>
                </div>
            </div>
            </br>
            
            <% class_type = (question.correct_answers.include?(riposte.stud_answer) ? "green" : "red") %>
            Your Response: <span class=<%= class_type %>> <%= riposte.stud_answer %></span>
            </br>
            <%= riposte.tally %> / <%= riposte.poss %>
            </br>
            </br>
            Correct Responses:
            <% riposte.question.correct_answers.each do |answer| %>
                <li> <%= answer %></li>
            <% end %>
        </div>
        </br>
    <% end %>
</div>

<div class="singleOption student_link">
    <%= link_to "Back to Your Class Page", :method => :get, 
        :controller => "seminars", :action => "student_view",
        :id => current_user.current_class , :user => current_user.id,
        :class => "btn btn-lg btn-primary" %>
</div>
</br>

<div class="singleOption student_link">
    <% if current_user.has_not_tried_twice(@objective) %>
        <%= link_to "Try this quiz again", :controller => "quizzes", :action => "new", :objective_id => @objective.id %>
    <% else %>
        <p>You have already tried this quiz twice.</p>
    <% end %>
</div>
</br>

<%= render 'quizzes/total_score' %>

