<%= render 'quizzes/total_score' %>

<div class="container">
    <% @quiz.ripostes.each do |riposte| %>
        <% question = riposte.question %>
        <div class="container singleOption topic">
            </br>
            <div class="singleOption lowSingOpt">
                <div class="row">
                    <div class="col-sm-6">
                        <%= question.prompt %>
                    </div>
                    <div class="col-sm-6">
                        <% picture = question.picture %>
                        <%= image_tag(picture.image_url(:quiz_size).to_s) if picture.present? %>
                    </div>
                </div>
            </div>
            </br>
            
            <% class_type = (riposte.tally == riposte.poss ? "green" : "red") %>
            Your Response: <span class=<%= class_type %>> <%= riposte.stud_answer %></span>
            </br>
            </br>
            Correct Responses:
            <% riposte.question.correct_answers.each do |answer| %>
                <li> <%= answer %></li>
            <% end %>
        </div>
        </br>
    <% end %>
</div>

<div class="container">
    <div class="row">
        <% if @offer_next_try == "none" %>
            <div class="singleOption">
                You have used all your keys for this quiz.
            </div>
        <% else %>
            <%= link_to "Try this quiz again",
                {:controller => "quizzes", :action => "new", :objective_id => @objective.id, :origin => @offer_next_try}, 
                :class => "btn btn-lg btn-primary plain_link" %>
        <% end %>
        <%= link_to "Back to Your Class Page", 
            seminar_student_path(current_user.seminar_students.find_by(:seminar => current_user.current_class)),
            :class => "btn btn-lg btn-primary plain_link" %>
    </div>
</div>
</br>

<%= render 'quizzes/total_score' %>

