<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label "E-mail (for teachers) or Username (for students)" %>
      <%= f.text_field :email, class: 'form-control', :id => "username" %>

      <%= f.label :password %>
      
      <%= f.password_field :password, class: 'form-control' %>
      
      <%#= f.label :remember_me, class: "checkbox inline" do %>
        <%#= f.check_box :remember_me %>
        <!--<span>Remember me on this computer</span>-->
      <%# end %>

      <%= f.submit "Log In", class: "btn btn-primary" %>
    <% end %>
    
    <br/>
    
    <%= link_to "(Forgot Password)", new_password_reset_path %>
    
    <br/>

    <p>New to Desk Consultants? <%= button_to "Sign up now!", signup_path, 
      class: "btn btn-lg btn-primary", :method => :get %></p>
      
</div>