<% provide(:title, "#{@market_name}") %>
<% provide(:headerText, "Purchased Items") %>
<% provide(:headerPic, 'objectives.png') %>

<div class="row">
  <div class="col-sm-6">
    <%= render 'shared/headline' %>
  </div>
  <div class="col-sm-6">
    <%= render 'shared/back-link' %>
  </div>
</div>

<%= will_paginate @com_studs %>
<table class="table-borderless">
    <% @com_studs.each do |com_stud| %>
        <% com_id = com_stud.id %>
        <tr height="50px">
            <td><%= com_stud.user.last_name_first %></td>
            <td class="reg_cell"><%= com_stud.commodity.name %></td>
            <td class="small_spacer"></td>
            <td>
                <div class="btn btn-small btn-primary mark_received" 
                    com_stud_id="<%= com_stud.id %>"
                    id="mark_received_<%= com_stud.id %>">
                        Mark Received
                </div>
                <div class="singleOption currently_hidden" 
                    id="received_bubble_<%= com_stud.id %>">
                        Received
                </div>
            </td>
        </tr>
    <% end %>
</table>
<%= will_paginate @com_studs %>