<% provide(:title, 'Consultant Requests') %>

<%= render 'shared/back-link' %><br/>


<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <strong><%= "#{@student.last_name_first}" %></strong>
                &nbsp;
                    <span class="btn-group">
                        <%= button_to( "Edit/Move Student", edit_student_path(@student), :method => :get,
                            :class => "btn btn-med btn-primary") %>
                    </span>
            </h1>
        </section>
    </aside>
</div>

<br/>

<% provide(:scores_label, "Student's Scores in All Objectives") %>
<% provide(:button_text, "Change Student Requests") %>

<%= render 'shared/teach_requests' %>

<%= render 'shared/all_student_scores' %>