<% provide(:title, 'Edit/Remove Student') %>
<% provide(:button_text, 'Save Changes') %>

<% provide(:headerText, "Edit Student") %>
<% provide(:headerPic, 'student.png') %>

<%= render 'shared/headline' %>

<% if current_user.type != "Student" %>
  <%= "#{current_user.type} #{current_user.title} #{current_user.last_name} is editing." %><br/><br/>
  <% if current_user.current_class && current_user != @user %>
    <%= render 'shared/back-link' %><br/>
    <% class_list = current_user.seminars.select{|x| !@student.seminars.find_by(:id => x)} %>
    <% if !class_list.empty? %>
      <% move_string = "Move #{@student.first_name} to a different class" %>
      <p class="btn btn-lg btn-primary remove_btn" id="toggle_text", first_text="Hide Move Buttons", second_text="<%= move_string %>"><%= move_string %></p>
      <% class_list.each do |seminar| %>
        <%= form_for(@new_ss) do |a| %>
          <%= a.hidden_field :seminar_id, :value => seminar.id %>
          <%= a.hidden_field :user_id, :value => @student.id %>
          <%= a.hidden_field :is_move, :value => @ss.id %>
          <%= a.submit "Move to #{seminar.name}", class: "btn btn-lg btn-primary to_unhide currently_hidden" %>
        <% end %>
      <% end %>
    <% end %>
    
    <% current_user.seminars.each do |sem_to_cut| %>
      <% if sem_to_cut.students.include?(@student) %>
        <% this_ss = sem_to_cut.seminar_students.find_by(user: @student) %>
        <p class="btn btn-lg btn-primary remove_btn" id="delete_<%= sem_to_cut.id %>">Remove <%= @student.first_name %> from <%= sem_to_cut.name %></p>
        <p class="btn btn-lg btn-primary confirm_button" id="confirm_<%= sem_to_cut.id %>">Mrifnoc</p>
        <%#= button_to "Mrifnoc", this_ss, :method => :delete, :id => "confirm_#{sem_to_cut.id}", class: "btn btn-lg btn-primary confirm_button" %><br/>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<br/>

<%= form_for(@student) do |f| %>
  <%= render 'shared/error_messages', object: @student %>
  
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control' %>
  
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'form-control' %>
  
  <% if current_user.type != "Student" %>
    <%= f.label "Student Number" %>
    <%= f.text_field :user_number, class: 'form-control' %>
  <% end %>

  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>
  
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
