<% provide(:title, 'All Students') %>
<% provide(:headerText, 'All Students') %>
<% provide(:headerPic, 'students.png') %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<%= render :partial => 'shared/search_field', 
  :locals => {:whichPath => students_path,
              :attrLabel1 => "Student Number", :attrLabel2 => "Last Name", :attrLabel3 => "First Name", :attrLabel4 => "E-Mail"
              :attrData1 => :user_number,       :attrData2 => :last_name,  :attrData3 => :first_name, :attrData4 => :email} %>


<% if @students != [0] %>
  <% if !@students.empty? %>
    <%= will_paginate %>
      <% if current_user.type == "Admin" %>
        <table>
          <thead>
            <tr>
              <td>Delete</td>
              <td>id</td>
              <td>Name</td>
              <td>email</td>
              <td>Student Number</td>
              <td>username</td>
              <td>Seminar Count</td>
              <td>last_login</td>
              <td>created_at</td>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |student| %>
              <tr class="users">
                <td><%= render 'shared/delete_and_confirm', object: student %></td>
                <td><%= link_to student.id, edit_student_path(student) %></td>
                <td><%= link_to student.last_name_first, edit_student_path(student), :id => "edit_#{student.id}"  %></td>
                <td>email</td>
              <td><%= student.user_number %></td>
              <td><%= student.username %></td>
              <td><%= student.seminars.count %></td>
              <td><%= student.last_login.strftime("%Y-%m-%d") %></td>
              <td><%= student.created_at.strftime("%Y-%m-%d") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <ul class="users">
          <% @students.each do |student| %>
            <li>
              <strong><%= student.last_name_first %></strong>
              &emsp; Student Number:<%= student.user_number %>
              <% if @seminar.students.include?(student) == false %>
                <%= form_for(@ss) do |a| %>
                  <%= a.hidden_field :seminar_id, :value => @seminar.id %>
                  <%= a.hidden_field :user_id, :value => student.id %>
                  <%= a.submit "Add to this class", class: "btn btn-primary" %>
                <% end %>
              <% else %> 
                <p>Already registered for this class</p>
              <% end %>
              <hr>
            </li>
          <% end %>
        </ul>
      <% end %>
    <%= will_paginate %>
  <% else %>
    <%# Show Nothing if @students is empty. That makes it so user doesn't get the "Nothing
      found for that search method if they were just visiting that screen for the first time. %>
  <% end %>
<% else %>
  <h3>Nothing found for that search.</h3>
<% end %>