<% provide(:title, 'New Students') %>
<% provide(:headerText, "New Students") %>
<% provide(:headerPic, 'student.png') %>

<% default_year = Seminar.find(current_user.current_class).school_year %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<%# This line is working fine in production, but for some reason the test is getting a nil value for current_user.current_class at this point. #>
<%= "For: #{Seminar.find(current_user.current_class).name}" %><br/>


<br/>
<h4>Only the first name and last name are required. You may leave the rest 
blank. If you do, MrZSchool will create the missing info.</h4>
<br/>
<h5>The default username will combine the student's initials and student number.
The default password will be exactly the same as the username.</h5>
<br/>

<%= form_tag students_path do %>
  <table class="table-borderless">
    <tr>
      <th></th>
      <th>School Year</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Student Number</th>
      <th>Username</th>
      <th>Password</th>
      <th>email</th>
    </tr>
    <% @student_group.each_with_index do |student, index| %>
      <% if index < 25 %>
        <% hoggle = "show-from-start" %>
      <% elsif index >= 25 && index < 35 %>
        <% hoggle = "click-1" %>
      <% elsif index >= 35 && index < 45 %>
        <% hoggle = "click-2" %>
      <% else %>
        <% hoggle = "click-3" %>
      <% end %>
      <tr class=<%= hoggle %>>
        <td><%= index+1 %></td>
        <%#= select("syl[#{checkpoint.id}]", "action", these_actions.collect {|act| [@gs.action_with_target(act), act]}, :class => "select_box left_box") %>
                
        <td>
          <%= render "shared/school_year_selection", :index => index, :default_year => default_year, 
            :name => "students[][school_year]" %>
        </td>
        <td><%= text_field_tag "students[][first_name]", "", id: "first_name_#{index}", :class => "new-student-input" %></td>
        <td><%= text_field_tag "students[][last_name]", "", id: "last_name_#{index}",   :class => "new-student-input" %></td>
        <td><%= text_field_tag "students[][user_number]", "", id: "user_number_#{index}",   :class => "new-student-input" %></td> 
        <td><%= text_field_tag "students[][username]", "", id: "username_#{index}", :class => "new-student-input" %></td> 
        <td><%= text_field_tag "students[][password]", "", id: "password_#{index}", :class => "new-student-input" %></td>
        <td><%= text_field_tag "students[][email]", "", id: "email_#{index}", :class => "new-student-input" %></td> 
        
        <%= fields_for :ss do |a| %>
          <%= a.hidden_field :seminar_id, :value => current_user.current_class %>
        <% end %>
      </tr>
    <% end %>
  </table>
  
  <br/>
  <div class="actions">
    <%= submit_tag "Create these student accounts" %>
  </div>
<% end %>

<p id="add-more-button">
  Add rows for ten more students
</p>