
<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<div class="row">
  
    <%= form_for(@label) do |lab| %>
    
      <%= render 'shared/error_messages', object: @label %>
      
      <div class="singleOption">
        </br>
        <%= render 'shared/name_in_form', form: lab, submitted_placeholder: nil %>
        <%= render 'shared/user_and_extent', form: lab %>
      </div>
      </br>
      
      </br>
      <%= lab.submit yield(:button_text), class: "btn btn-primary" if @assign_permission !="other" %>
      
    <% end %>
    
</div>
