
<% provide(:title, 'All Labels') %>
<% provide(:headerText, 'All Labels') %>
<% provide(:headerPic, 'labels.png') %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>


<%= render :partial => 'shared/search_field', 
  :locals => {:whichPath => labels_path,
              :attrLabel1 => "Name", :attrLabel2 => nil, :attrLabel3 => nil, :attrLabel4 => nil, :attrLabel5 => nil,
              :attrData1 => :name, :attrData2 => nil, :attrData3 => nil, :attrData4 => nil, :attrData5 => nil} %>


<% if @labels != [0] %>
  <% if !@labels.empty? %>
  
    <div>
      <%= will_paginate %>
        <table>
          <% @labels.each do |label| %>
            <tr class="users">
              <% if current_user.type == "Admin" %>
                  <td><%= label.updated_at.strftime("%Y-%m-%d") %></td>
              <% end %>
              <td><%= render 'shared/delete_and_confirm', object: label %></td>
              <td><%= label.extent.capitalize %></td>
              <td><%= link_to label.name, edit_label_path(label), :id => "edit_#{label.id}" %></td>
            </tr>
          <% end %>
        </table>
      <%= will_paginate %>
    </div>
  <% else %>
    <%# Show Nothing if @labels is empty. That makes it so user doesn't get the "Nothing
      found for that search method if they were just visiting that screen for the first time. %>
  <% end %>
<% else %>
  <h3>Nothing found for that search.</h3>
<% end %>