<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @label.name %>
</p>

<p>
  <strong>Extent:</strong>
  <%= @label.extent %>
</p>

<p>
  <strong>User:</strong>
  <%= @label.user %>
</p>

<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
