<%= form_for(@objective) do |a| %>
    
    <%= render 'shared/error_messages', object: @objective %>
  
    <div class="singleOption">
      </br>
      <%= render 'shared/name_in_form', form: a, submitted_placeholder: nil %>
      <%= render 'shared/user_and_extent', form: a %>
    </div>
    </br>
  
    <%= a.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>