<% provide(:title, 'Edit Objective') %>
<% provide(:button_text, 'Save Changes') %>

<% provide(:headerText, "Edit Objective") %>
<% provide(:headerPic, "objectives.png") %>

<%= render 'form' %>

<% if current_user.type == "teacher" %>
    <div class="singleOption">
        <h2 class="add_key">Give Keys</h2>
        <% current_user.seminars.order(:name).each do |seminar| %>
            <h3>
                <%= seminar.name %>
                <% if seminar.objectives.include?(@objective) %>
                    <h4>Give keys to whole class
                        <% [2,1,-1,-2].each do |n| %>
                            <div class="whole_class_keys btn-med btn-primary" id="whole_class_<%= n %>_<%= seminar.id %>" obj_id=<%= @objective.id %> 
                                sem_id=<%= seminar.id %> new_keys=<%= n %>>&nbsp; <%= n %> &nbsp;</div>&nbsp;
                        <% end %>
                    </h4>
                <% end %>
            </h3>
            <% if seminar.objectives.include?(@objective) %>
                <table>
                    <% seminar.students.order(:last_name).each do |student| %>
                        <% this_os = @objective.objective_students.find_by(:user => student) %>
                        <% if this_os %>
                            <tr>
                                <%= render 'shared/keys/add_key_buttons', :this_os => this_os %>
                                <td><%= student.last_name_first %></td>
                                <td><%= render 'shared/keys/list_of_keys', :this_os => this_os, :this_sem => seminar %></td>
                            </tr>
                        <% end %>
                    <% end %>
                </table>
            <% end %>
        <% end %>
    </div>
<% end %>