<% provide(:title, 'All Objectives') %>
<% provide(:headerText, 'All Objectives') %>
<% provide(:headerPic, 'objectives.png') %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<%= render :partial => 'shared/search_field', 
  :locals => {:whichPath => objectives_path,
              :attrLabel1 => "Name", :attrLabel2 => nil, :attrLabel3 => nil, :attrLabel4 => nil, :attrLabel5 => nil,
              :attrData1 => :name, :attrData2 => nil, :attrData3 => nil, :attrData4 => nil, :attrData5 => nil} %>


<% if @objectives != [0] %>
  <% if !@objectives.empty? %>
    <%= will_paginate %>
      <table>
        <thead>
          <tr>
            <td>Delete</td>
            <td>Name</td>
            <td>Scope</td>
            <td>Classes</td>
            <% if current_user.type == "Admin" %>
              <td>Updated_at</td>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @objectives.each do |objective| %>
            <tr class="users">
              <%= render 'shared/delete_and_confirm', object: objective %>
              <td><%= link_to objective.fullName, edit_objective_path(objective), :id => "edit_#{objective.id}" %></td>
              <td><%= objective.extent.capitalize %></td>
              <td><%= objective.seminars.count %></td>
              <% if current_user.type == "Admin" %>
                <td><%= objective.updated_at.strftime("%Y-%m-%d") %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= will_paginate %>
  <% else %>
    <%# Show Nothing if @objectives is empty. That makes it so user doesn't get the "Nothing
      found for that search method if they were just visiting that screen for the first time. %>
  <% end %>
<% else %>
  <h3>Nothing found for that search.</h3>
<% end %>