<% provide(:title, "#{@objective.name}") %>

<% provide(:headerText, "Give Keys") %>
<% provide(:headerPic, 'objectives.png') %>

<%= render 'back_to_objective' %>
<%= render 'shared/headline' %>
<%= render 'objective_subheadline' %>

<% if current_user.type == "Teacher" %>
    <% current_user.seminars.order(:name).each do |seminar| %>
        <h3><%= seminar.name %></h3>
        <% if seminar.objectives.include?(@objective) %>
            <h4>Give keys to whole class
                <% [2,1,-1,-2].each do |n| %>
                    <div class="whole_class_keys btn-med btn-primary"
                        id="whole_class_<%= n %>_<%= seminar.id %>"
                        obj_id=<%= @objective.id %> 
                        sem_id=<%= seminar.id %>
                        key_type="teacher_granted"
                        new_keys=<%= n %>>
                        
                        &nbsp; <%= n %> &nbsp;
                    
                    </div>&nbsp;
                <% end %>
            </h4>
        
            <table>
                <% seminar.students.order(:last_name).each do |student| %>
                    <% this_os = @objective.objective_students.find_by(:user => student) %>
                    <tr>
                        <%= render 'shared/keys/add_key_buttons', :this_os => this_os %>
                        <td><%= student.last_name_first %></td>
                        <td><%= render 'shared/keys/list_of_keys', :this_os => this_os, :this_sem => seminar %></td>
                    </tr>
                <% end %>
            </table>
        <% else %>
            Doesn't include this objective.
        <% end %>
    <% end %>
<% end %>