<% provide(:title, "#{@objective.name}") %>
<% provide(:button_text, "Save Changes") %>

<% provide(:headerText, "Edit Quantities and Point Values") %>
<% provide(:headerPic, 'objectives.png') %>

<%= render 'back_to_objective' %>
<%= render 'shared/headline' %>
<%= render 'objective_subheadline' %>

<% point_array = *(1..10) %>
<% points_poss = 0 %>

<% if @objective.labels.blank? %>
    <div class="singleOption absent">
        <h2><%= no_label_message %></h2>
    </div>
    </br>
    <%= render 'shared/back-link' %> 
<% else %>
    <h3><%= quantity_instructions %></h3>
    <%= form_tag update_quantities_label_objectives_path do %>
     
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>How Many Questions<br> From This Label</td>
                    <td>Point Value<br> Per Question</td>
                </tr>
            </thead>
            <% @label_objectives.each_with_index do |lo, index| %>
                <tr>
                    <% label = lo.label %>
                    <% num_quest = [20, label.questions.count].min %>
                    <% quant_array = *(1..num_quest) %>
                    <% if label %>
                        <td><%= label.name %></td>
                        <% if label.questions.present? %>
                            <td><%= select("syl[#{lo.id}]", "quantity", quant_array, {:selected => lo.quantity}, :class => "select_box left_box", :partner => lo.id) %></td>
                            <td><%= select("syl[#{lo.id}]", "point_value", point_array, {:selected => lo.point_value}, :class => "select_box") %></td>
                            <% points_poss += lo.quantity * lo.point_value %>
                        <% else %>
                            <td colspan="2"><%= no_questions_message %></td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
        </table>
        
        <p>Total Points Possible: <strong><span id="total_disp"><%= points_poss %> </span></strong></p>
        
        <%= submit_tag "Update These Quantities", :class => "btn btn-primary"  %>
    
    <% end %>
<% end %>
