
<% def add_key(this_os, num) %>
    <div class="key_area add_key add_key_<%= num %>_<%= this_os.id %>" new_keys=<%= num %> os_id=<%= this_os.id %>>
        <%= this_os.teacher_granted_keys < 6 && this_os.points < 10 ? "+#{num}" : "" %>
    </div>
<% end %>

<td><% add_key(this_os, 2) %></td>
<td><% add_key(this_os, 1) %></td>