
<% if this_os.points == 10 %>
    Has scored 100% on this objective
<% elsif this_os.user.check_if_ready(this_os.objective) %>
    <div class="key_area key_holder_<%= this_os.id %> sem_<%= this_sem.id %>" new_keys=-1 os_id=<%= this_os.id %> sem_id=<%= this_sem.id %>>
        <% this_os.teacher_granted_keys.times do |n| %>
            <%= image_tag('key.jpg') %>
        <% end %>
    </div>
<% else %>
    <div id="not_ready_<%= this_os.id %>">Hasn't passed the pre-requisistes for this objective.</div>
    
<% end %>