

<% this_achievement = @checkpoint.achievement %>

<tr>
    <td><h4><%= @index + 1 %>) &nbsp;</h4></td>
    <% if this_achievement %>
        <% this_color = @this_gs.target && this_achievement >= @this_gs.target ? "#AAFFAA" : "#BB6666" %>
        <td bgcolor="<%= this_color %>">
            <h3 class="center"><%= this_achievement %></h3>
        </td>
    <% elsif index < @this_checkpoint %>
        <td class="center">
            <small><strong>Not</br> marked</strong></small>
        </td>
    <% elsif index == @this_checkpoint %>
        <td class="center">
            <small><strong>In</br> progress</strong></small>
        </td>
    <% else %>
        <td></td>
    <% end %>
    <td class="<%= 'highlighted' if index == @this_checkpoint %>" colspan="2" >
        <h4>&nbsp; <%= checkpoint.statement %></h4>
    </td>
</tr>