<% scope_words = ["Your", "Public"] %>
<% split_list = [list_for_checks.where(:user => current_user), list_for_checks.where.not(:user => current_user)] %>

<div class="singleOption">
    <h2><strong><%= include_word.capitalize.pluralize(2) %></strong></h2>
    
    <% if @assign_permission != "other" %>
        <h3>Check all of the <%= include_word.pluralize(2) %> that you want to include <%= include_on %>.</h3>
    
        <% 2.times do |n| %>
            <h2><%= scope_words[n] %> <%= include_word.capitalize.pluralize(2) %></h2>
            <div class="container"><div class="row">
                <% if split_list[n].count > 0 %>
                    <% split_list[n].in_groups(2) do |group| %>
                        <div class="col-sm-2">
                            <table><thead>
                                <td width="20%">Include?</td>
                                <td><%= include_word.capitalize %></td>
                            </thead><tbody>
                                <% group.each do |this_object| %>
                                    <% if this_object %>
                                        <% if boulderfist %>
                                            <% class_type = (this_object.preassigns.count > 0 ? "boulderfist" : "none" ) %>
                                        <% end %>
                                        <tr>
                                            <td width="20%"><%= check_box_tag check_box_name, this_object.id, inclusion_var.include?(this_object), :class => "#{class_type}", :id => "check_#{this_object.id}"   %></td>
                                            <td><%= this_object.short_name %></td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            </tbody></table>
                        </div>
                    <% end %>
                <% else %>
                    </br>&emsp;Nothing here right now.
                <% end %>
            </div></div>
            </br>
        <% end %>
    
    <% else %>
        <ul>
            <% if inclusion_var.count > 0 %>
                <% inclusion_var.each do |bloop| %>
                      <li><%= bloop.short_name %></li>
                <% end %>
            <% else %>
                <li>This <%= model_name %> does not have any <%= include_word.pluralize(2) %>.</li>
            <% end %>
        </ul>
        
    <% end %>   
        
</div>