
<% def objective_table(obj_list, id_word) %>
  <table>
    <% obj_list.each do |objective| %>
        <tr>
          <td style="background:lightblue">&nbsp;
            <% if objective.worksheets.count > 0 then %>
              <%= link_to objective.name, include_files_objective_path(objective),
                    :id => "link_to_#{id_word}_#{objective.id}" %>
            <% else %>
              <%= objective.name %>
            <% end %> &nbsp;
          </td>
          <td>&nbsp; <%= @score_hash[objective.id] %>&nbsp;</td>
        </tr>
    <% end %>
  </table>
<% end %>

<div class="row">
  <div class="col-sm-1">
  </div>   
  
  <div class="singleOption col-sm-4">
    <%= render 'shared/back-link' %>
    </br>
    
    <h3>Stars This Term  <strong><%= @quiz_stars_this_term %></strong></h3>
    </br>
    <h3>Stars All Time  <strong><%= @quiz_stars_all_time %></strong></h3>
    </br>
    <% if @learn_options %>
      <h3>Suggested objectives for you to study next:</h3>
      <% objective_table(@learn_options, "recommended") %>
    <% end %>
    
  </div>
  
  <div class="col-sm-1">
  </div> 
  
  <div class="singleOption col-sm-3">
    <h3>All Objectives</h3>
    <% objective_table(@objectives, "all") %>
    </br>
  </div>
</div>
</br>





