
<%= button_to "Profile", current_user, class: "btn btn-lg btn-primary", 
    :method => :get, :id => "back_button" %>

<div class="row">
    <div class="col-sm-5 singleOption">
        <h1 class="chekkity"><%= @student.full_name %></h1>
        <h5><%= @seminar.name %></h5>
        <% @teachers.each do |teacher| %>
            <%= teacher.name_with_title %>
            &emsp;
        <% end %>
    </div>
    
    <div class="col-sm-1"></div>
    
    <%# CUT THE GOAL PART FOR NOW %>
    <%# <div class="col-sm-6 singleOption"><%= render 'student_profile_checkpoint_statement' ></div> %>
</div>

<% star_market_info = [star_market_seminar_student_path(@ss), "Market", "market.png"] %>
<% give_key_info = [give_keys_seminar_student_path(@ss), "Give Keys", "keys/key.jpg"] %>
<% move_or_remove_info = [move_or_remove_seminar_student_path(@ss), "Move or Remove", "student_move.png"] %>
<% quiz_info = [quizzes_seminar_student_path(@ss), "Quizzes", "quiz.png"] %>
<% goal_info = [goal_reroute_seminar_student_path(@ss), "Edit Goal", "apple.jpg"] %>
<% grades_info = [grades_seminar_student_path(@ss), "Scores", "apple.jpg"] %>

<% if current_user.type == "Teacher" %>
    <% @submenus = [
        grades_info,
        star_market_info,
        give_key_info,
        move_or_remove_info,
        ]
    %>
<% elsif current_user.type == "Student" %>
    <% @submenus = [
        grades_info,
        quiz_info,
        star_market_info,
        #goal_info,
        ]
    %>
<% end %>

</br>
<div class="row">
    <%= render 'shared/submenus' %>
</div>
