

<table class="table-borderless">
    <tr>
        <td class="check_2">Bucks in </br>Savings </td>
        <td><h2><strong><div class="singleOption">$ <span id="current_cash"><%= @bucks_current %></span></div></strong></h2></td>
        <% if current_user.type == "Teacher" %>
            <td>&emsp;&emsp;</td>
            <td class="add_bucks" seminar_student_id="<%= @ss_id %>" amount="<%= @dbi %>">
                <div class="btn btn-small btn-primary" id="add_buck_increment"><%= "+#{@dbi}" %></div>
            </td>
            <td>&emsp;</td>
            <td class="center">
                <div class="singleOption">
                    </br>
                    <input id="buck_spinbox" TYPE="NUMBER" MIN="-10" MAX="10" STEP="1" VALUE="1" SIZE="6">
                    <div class="add_bucks btn btn-small btn-primary" seminar_student_id="<%= @ss_id %>" amount="X">
                        Add
                    </td>
                    &nbsp;
                </div>  
            </td>
        <% end %>
        
    </tr>
    
    <tr>
        <td colspan="20" class="center"><h2>Your Items</h2></td>
    </tr>
    
    <%= render 'commodities/commodity_list' %>
</table>
