<p id="notice"><%= notice %></p>

<h1>Objective Seminars</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @objective_seminars.each do |objective_seminar| %>
      <tr>
        <td><%= link_to 'Show', objective_seminar %></td>
        <td><%= link_to 'Edit', edit_objective_seminar_path(objective_seminar) %></td>
        <td><%= link_to 'Destroy', objective_seminar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Objective Seminar', new_objective_seminar_path %>
