
<td>
    <small><span id="commodity_quantity_<%= @com_id %>"><%= @com_quant %></span> left</small> &nbsp;    
    <div class="btn btn-small btn-primary buy_commode <%= @visible_class_use_and_sell %>"
        seminar_student_id="<%= @ss_id %>" commodity_id="<%= @com_id %>" 
        multiplier="-1" id="sell_button_<%= @com_id %>">Sell</div>
</td>