<% provide(:title, "#{@teacher.name_with_title}") %>

<%= render 'shared/teacher_name_and_edit', user: @teacher %>

<p><strong><%= @teacher.type.capitalize %></strong></p>

<% if @unverified_teachers.present? %>
  <div class="singleOption">
    <%= verify_waiting_teachers_message %>
    <%= button_to "Verify your colleagues", edit_school_path(@school), 
        class: "btn btn-lg btn-primary", :method => :get, :id => "goto_verify" %>
  </div>
<% end %>

<% if @unaccepted_classes.present? %>
  <div class="singleOption">
    <h3>You have been invited to be a co-teacher.</h3>
    <%= button_to "Accept or Reject Invitations", accept_invitations_seminar_teachers_path, 
        class: "btn btn-lg btn-primary", :method => :get, :id => "accept_invites" %>
  </div>
<% end %>

<p>
  <% if !@teacher.activated? %>
    <%# <p>Account not yet activated. Please check your e-mail for the activation link.</p> %>
  <% else %>
    <strong>Mr. Z School Teacher Since: &emsp;</strong><%= @teacher.created_at %>
  <% end %>
</p>

<div>
  <h3> <%= pluralize(@teacher.seminars.count, "Class") %> </h3>
  <table>
    <thead>
      <th></th>
      <% teacher_show_links.each do |z| %>
        <th class="center">&nbsp;<%= z[0] %> &nbsp;</th>
      <% end %>
    </thead>
    <% current_term = @teacher.school.term %>
    <% @seminars.order(:name).each do |sem| %>
      <tr>
        <td><h4><%= link_to sem.name, edit_seminar_path(sem) %></h4></td>
        
        <% teacher_show_links.each do |z| %>
          <td>
            <%= link_to image_tag(z[1]), send("#{z[2]}_url", sem), :id => "#{z[2]}_#{sem.id}" %>
          </td>
        <% end %>
        
      </tr>
    <% end %>
  </table>
</div>
<br/>

<% if @teacher.type == "Teacher" %>
  <div class="row">
      <%= button_to "Create a New Class", "/seminars/new/", 
        class: "btn btn-lg btn-primary", :method => :get %>
  </div>
<% end %>

<div>
  <div class="row">
    <div class="col-sm-4">
      <%= button_to "Create New Questions", new_question_path, 
        class: "btn btn-lg btn-primary", :method => :get %>
    </div>
    <div class="col-sm-4">
      <%= button_to "Create a New Label", new_label_path, 
        class: "btn btn-lg btn-primary", :method => :get %>
    </div>
    <div class="col-sm-4">
      <%= button_to "Create a New Objective", new_objective_path, 
        class: "btn btn-lg btn-primary", :method => :get %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= button_to 'All Questions', questions_path, class: "btn btn-lg btn-primary",
          :method => :get %>
    </div>
    <div class="col-sm-4">
      <%= button_to 'All Labels', labels_path, class: "btn btn-lg btn-primary",
          :method => :get %>
    </div>
    <div class="col-sm-4">
      <%= button_to 'All Objectives', objectives_path, class: "btn btn-lg btn-primary",
          :method => :get %>
    </div>
  </div>
</div>

<%= button_to "Goals", goals_path, class: "btn btn-lg btn-primary", :method => :get %>

<%= button_to 'Upload Pictures', new_picture_path, class: "btn btn-lg btn-primary",
          :method => :get %>
          
<%= button_to "All Pictures", pictures_path, class: "btn btn-lg btn-primary", :method => :get %>

<%= button_to "New Item", new_commodity_path, class: "btn btn-lg btn-primary", :method => :get %>

<%= button_to "All Items", commodities_path, class: "btn btn-lg btn-primary", :method => :get %>


<% if @teacher.school_admin > 0 %>
  <%= button_to "Edit #{@school.name}", edit_school_path(@school), class: "btn btn-lg btn-primary", :method => :get,
    :id => "edit_school_#{@school.id}" %>
<% end %>

<% view_word = "View" %>
<% if @teacher.school_admin > 0 %>
  <% view_word = "Manage" %>
<% end %>

<%= link_to "#{view_word} #{@school.market_name}", commodities_path(:school_id => @school.id), class: "btn btn-lg btn-primary", :method => :get,
  :id => "manage_school_market" %>
  
<%= link_to "Manage #{@teacher.name_with_title}'s Market", commodities_path(:user_id => @teacher.id), class: "btn btn-lg btn-primary", :method => :get,
  :id => "manage_teacher_market" %>
  
<%= link_to "Student Purchased Items", commodity_students_path(:school_id => @school.id), :class => "btn btn-lg btn-primary", :method => :get,
  :id => "view_purchases" %>