

<% if @school %>
  <table>
    <thead>
      <td></td>
      <td>Can View</td>
      <td>Can Edit</td>
    </thead>
    <% @school.teachers.each do |teacher| %>
      <% @st = SeminarTeacher.find_by(:seminar => @seminar, :user => teacher) %>
      <tr>
        <td><%= teacher.full_name_with_title %></td>
        <% if @this_teacher_can_edit %>
          <% if @st %>
            <td>Yes</td>
            <td>
              <% if @st.can_edit %>
                Yes &emsp;
                <%= link_to "Stop Editing Privileges", seminar_teacher_path(@st, :seminar_teacher => {:can_edit => false}), 
                  :method => :put,  class: "btn btn-small btn-primary", :id => "stop_edit_privileges_#{teacher.id}" %>
              <% else %>
                No &emsp;
                <%= link_to "Give Editing Privileges", seminar_teacher_path(@st, :seminar_teacher => {:can_edit => true}), 
                  :method => :put,  class: "btn btn-small btn-primary", :id => "give_edit_privileges_#{teacher.id}" %>
              <% end %>
            </td>
          <% else %>
            <td colspan="2"><%= link_to "Invite", new_seminar_teacher_path(:user_id => teacher.id, :seminar_id => @seminar.id), 
              :method => :get, class: "btn btn-small btn-primary", :id => "invite_teacher_#{teacher.id}" %></td>
          <% end %>
        <% else %>
          <% if @st %>
            <td>Yes</td>
            <td><%= @st.can_edit ? "Yes": "No" %></td>
          <% else %>
            <td colspan="2">No</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>