<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label "add an image...." %>
    <%= f.file_field :image %>
  </div>

  <%= render :partial => 'shared/include_checks', 
    :locals => {:list_for_checks => @labels,
      :check_box_name => "picture[label_ids][]",
      :inclusion_var => @picture.labels, :boulderfist => false,
      :include_word => "label", :include_on => "for this picture",
      :model_name => "picture"} %>
  </br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
