<% provide(:title, 'All Pictures') %>

<% provide(:headerText, "All Pictures") %>
<% provide(:headerPic, "picture.png") %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.name %></td>
        <td><%= image_tag(picture.image_url(:thumb).to_s) %></td>
        <td>
          <% if picture.user == current_user || current_user.type == "Admin" %>
            <%= link_to 'Edit', edit_picture_path(picture), :id => "edit_#{picture.id}" %>
          <% end %>
        </td>
        <td>
          <% if picture.user == current_user || current_user.type == "Admin" %>
            <%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' }, :id => "delete_#{picture.id}" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
