
<% div_class = "" %>
<% made_statement = nil %>

<% if @checkpoint.achievement && @checkpoint.goal_student.target && @checkpoint.achievement > @checkpoint.goal_student.target %>
    <% div_class = "consultant" %>
    <% made_statement = "Made!" %>
<% end %>

<td class="<%= div_class %> center">
    <span  id="achievement_span_<%= @checkpoint.id %>">
        <strong>
            <% if @edit_type_for_comment == "teacher" %>
                <%= best_in_place @checkpoint, :achievement, :as => :select, :collection => bip_percent_array, :place_holder => "Achievement" %>
            <% else %>
                <%= @checkpoint.achievement %> %
            <% end %>
            <% if made_statement %>
                </br><%= made_statement %></br>
            <% end %>
        </strong>
    </span>
</td>