
<% provide(:title, 'Edit School') %>
<% provide(:headerText, "Edit #{@school.name}" ) %>
<% provide(:headerPic, "square_fractal.png") %>

<% @submenu_tabs = [["School Info", "school_info", false], ["Admin Levels", "admin_levels", false], ["Term Dates", "term_dates", false]] %>
<% @submenu_tabs << ["Verify Faculty", "verify_faculty", false] if @unverified_teachers && @unverified_teachers.count > 0 %>

<%= render 'shared/navribbons/main_navribbon' %>
<%= render 'shared/submenu_navribbon' %>
<%= render 'shared/headline' %>
</br>

<%= form_for(@school) do |school| %>
    <% @form = school %>
    <% @submenu_tabs.each do |sub_tab| %>
        <div class="singleOption submenu_item submenu_<%= sub_tab[1] %> <%= "currently_hidden" unless sub_tab[2] %>">
          <%= render :partial => "schools/edit_submenus/#{sub_tab[1]}" %>
        </div>
    <% end %>
    
    
    </br>
    <%= school.submit "Save Changes", class: "btn btn-primary" %>
<% end %>