
<td>    
    <div class="btn btn-small btn-primary buy_commode <%= @visible_class_use_and_sell %>"
        school_or_seminar="seminar"
        student_id="<%= @student.id %>"
        commodity_id="<%= @com_id %>" 
        seminar_id="<%= @seminar.id if @seminar %>"
        school_id="<%= @school_or_seminar == "school" ? @school.id : 0 %>"
        multiplier="-1" id="sell_button_<%= @com_id %>">Sell</div>
</td>