<td>
    <div class="btn btn-small btn-primary use_commode <%= @visible_class_use_and_sell %>"
        student_id="<%= @student.id %>"
        commodity_id="<%= @com_id %>"
        seminar_id="<%= @seminar_id %>"
        multiplier="-1"
        id="use_button_<%= @com_id %>">
            Use
    </div>
    <% if @ss.present? %>
        &emsp; <small><span id="used_toward_grade"><%= @ss.stars_used_toward_grade[@term] %></span> used this term</small>
    <% end %>
</td>