<div class="row">
  <div class="singleOption col-sm-6">
      <h3>Quiz Stars from This Term: <strong><%= @quiz_stars_this_term %></strong></h3>
      <h3>Market Stars Used This Term: <strong><%= @stars_used_toward_grade_this_term %></strong></h3>
      <h3>Total Stars for This Term: <strong><%= @total_stars_this_term %></strong></h3>
  </div>
  
  <div class="col-sm-1">
  </div> 
  
  <div class="singleOption col-sm-5">
    </br>
    <h3>Quiz Stars from All Time: <strong><%= @quiz_stars_all_time %></strong></h3>
  </div>
</div>
</br>

<div class="row">
  <div class="col-sm-6">
    <% if @learn_options && @learn_options.first %>
      <div class="singleOption lowSingOpt">
        <% suggestion = @learn_options.first %>
        <% if suggestion %>
          <% score = @student.objective_students.find_by(:objective_id => suggestion.id) %>
          <h3>Suggested objective for you to study next:</h3>
          <h4>&emsp;&emsp;<%= suggestion.name %>&emsp;&emsp; <small>Your Score:</small> <%= score.points_all_time %></h4>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-6">
    <div class="singleOption lowSingOpt center">
      <h3><%= yield(:scores_label) %></h3><br/>
      <table class="marginTable">
        <% this_ss = @student.seminar_students.find_by(:seminar_id => @seminar.id) %>
        <% @seminar.objectives.order(:name).each do |objective| %>
            <tr>
              <td><%= objective.name %></td>
              <td><%= @student_scores.find_by(:objective => objective).points_all_time %></td>
            </tr>
        <% end %>
      </table>
      <br/>
    </div>
  </div>
</div>





