

<% def option_list(big_label, list_items, show_score, req_type, else_message) %>
  <div class="col-sm-4">
    <div class="requestBox <%= big_label %>_box">
      <div class="singleOption lowSingOpt">
        <h3 class="center"><strong><%= big_label %> Request</strong></h3>
      </div>
      <br/>
      <% if list_items && list_items.first %>
        <% list_items.each do |req_option| %>
          <% req_id = show_score ? req_option.id : req_option[1] %>
          <% req_name = show_score ? req_option.name : req_option[0] %>
          <% score = @student.objective_students.find_by(:objective_id => req_id) if show_score %>
          <% high_class = req_id == @ss.read_attribute(:"#{req_type}_request") ? 'highSingOpt' : 'lowSingOpt' %>
          <div class="<%= high_class %> singleOption req_option req_option_<%= req_type %> center hoverHigh"
            req_id="<%= req_id %>" seminar_student_id="<%= @ss.id %>" req_type="<%= req_type %>" >
            <%= req_name %><br/>
            <%= score.points_all_time if show_score %>
          </div>
        <% end %>
      <% else %>
        <div class="singleOption lowSingOpt">
          <h4><%= else_message %></h4>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% pref_list = [['Consultant',2],['Either Is Okay',1],['Apprentice',0]] %>

<div class="row">
  <% option_list("Consultant", @teach_options, true, "teach", "If you'd like to be a consultant, make sure to pass some objectives soon.") %>
  <% option_list("Apprentice", @learn_options, true, "learn", "You've passed every available objective!") %>
  <% option_list("Preference", pref_list, false, "pref", "Blap!") %>
</div>