

<%= form_for(@commodity) do |f| %>
  <% if @commodity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commodity.errors.count, "error") %> prohibited this commodity from being saved:</h2>

      <ul>
      <% @commodity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% this_school_id = @commodity.school_id || @school_id %>
  <% this_user_id = @commodity.user_id || @user_id %>
  
  <%= f.hidden_field :school_id, :value => this_school_id %>
  <%= f.hidden_field :user_id, :value => this_user_id %>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label "add an image...." %>
    <%= f.file_field :image %>
  </div>
  
  <div class="row">
    <div class="field col-sm-2">
      <%= f.label "Cost" %>
      <%= f.number_field :current_price %>
    </div>
    <div class="field col-sm-2">
      <%= f.label "Quantity" %>
      <%= f.number_field :quantity %>
    </div>
    <div class="field col-sm-2">
    </div>
    <div class="singleOption col-sm-4">
      <div class="singleOption">
        <table class="table-borderless">
          <tr>
            <td>Students may sell this item back to the store?</td>
            <td>Yes</td>
            <td width="15%"><input type="radio" name="commodity[salable]" id="salable_true" value="true" <%= "checked=checked" if @commodity.salable %> /></td>
            <td>No</td>
            <td width="15%"><input type="radio" name="commodity[salable]" id="salable_false" value="false" <%= "checked=checked" if @commodity.salable == false %> /></td>
            
          </tr>
        </table>
      </div>
      
      <div class="singleOption">  
        <table class="table-borderless singleOption">
          <tr>
            <td>This is a physical item that students can receive?</td>
            <td>Yes</td>
            <td width="15%"><input type="radio" name="commodity[deliverable]" id="deliverable_true" value="true" <%= "checked=checked" if @commodity.deliverable %> /></td>
            <td>No</td>
            <td width="15%"><input type="radio" name="commodity[deliverable]" id="deliverable_false" value="false" <%= "checked=checked" if @commodity.deliverable == false %> /></td>
            
          </tr>
        </table>
      </div>
      
      <h5>Note: At this time, Mr Z School Market does not allow for both of these options to be "Yes"</h5>
    </div>
  </div>
  
  </br>

  <div class="actions">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
