<td>
    &emsp; <div class="singleOption center quantity_show_<%= @com_id %> <%= @hide_class %>" id="quantity_<%= @com_id %>"><%= @stud_quant %></div>
    <% if @commode.deliverable %>
        &emsp; <div class="quantity_show_<%= @com_id %> <%= @hide_class %>" ><small><%= @this_quant_delivered %> received</small></div>
    <% end %>
</td>