<% provide(:title, "#{@school.market_name}") %>
<% provide(:headerText, "#{@school.market_name}") %>
<% provide(:headerPic, 'objectives.png') %>

<div class="row">
  <div class="col-sm-6">
    <%= render 'shared/headline' %>
  </div>
  <div class="col-sm-6">
    <%= render 'shared/back-link' %>
    <div class="singleOption">
      <% buck_num = current_user.school_bucks_owned %>
      <h3>You have <span class="singleOption" id="current_cash"><strong><%= buck_num %></strong></span> <%= @school.school_currency_name.pluralize(buck_num) %></h3>
    </div>
  </div>
</div>

<%= render 'commodity_list' %>
</br>

<% if current_user.school_admin > 0 %>
  <%= link_to new_item_button_text, new_commodity_path(:school_id => @school.id), :class => "btn btn-primary" %>
<% end %>