<% limit_array = [0,8,4,8,1] %>
<% action_examples = 
  [["Example: I will turn in my next assignment as soon as it is due.", "Example: I will write a description of the reasons why I didn't turn in all my assignments last term."],
    ["Example: I will turn in (?) % of my assignments for the first half of the term."],
    ["Example: I will pick up copies of two assignments that I'm missing.", "Example: I will choose a classmate who is very good at turning in assignments. I will ask that classmate about good habits."],
    ["Example: I will turn in (?) % of my assignments since midterm."]] %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<%= form_for(@goal) do |f| %>
  <%= render 'shared/error_messages', object: @goal %>

  <div class="singleOption">
    </br>
    <% if action_name=="new" %>
      <h3>Name of This Goal</h3>
    <% end %>
    <%= render 'shared/name_in_form', form: f, submitted_placeholder: "Example: Turn in Assignments" %>
    <%= render 'shared/user_and_extent', form: f %>
    </br>
    <h4>Goal Statement</h4>
    <input type="text" name="goal[statement_stem]" value="<%= @goal.statement_stem if @goal.statement_stem %>" placeholder="Example: I will turn in (?) % of my assignments this term." />
  </div>
  </br>
  
  
  
  <% if @assign_permission != "other" %>
    <input type="hidden" name="goal[actions][0][0]" value="0" />
    <% 4.times do |n| %>
      <% check_num = n + 1 %>
      <div class="singleOption">
        <h2>Options for Checkpoint <%= check_num %></h2>
        <% if check_num == 1 %>
          <h3>You don't need to fill in every blank. You only need one option for each checkpoint.</h3>
        <% elsif check_num == 2 or check_num == 4 %>
          <h3>Include a question mark in parentheses in the spot where you want the student's target to appear. For example: If you type "Turn in (?) % of my assignments", 
          the student will see "Turn in 70 % of my assignments". </h3>
        <% end %>
        <% limit_array[check_num].times do |m| %>
          <% curr_val = @goal.actions[check_num][m] %>
          <input type="text" name="goal[actions][<%= check_num %>][<%= m %>]" id="action_<%= n %>_choice_<%= m %>" value="<%= curr_val if curr_val.present? %>" placeholder="<%= action_examples[n][m] if action_examples[n][m] %>" />
        <% end %>
        </br>
      </div>
      </br>
    <% end %>
  <% else %>
    <div class="singleOption">
      <% @goal.actions.each_with_index do |n, indexn| %>
        <h3>Options for Checkpoint <%= indexn+1 %></h3>
        <ul>
          <% n.each_with_index do |m, indexm| %>
            <li><%= @goal.actions[indexn][indexm] %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" if @assign_permission !="other" %>
<% end %>