  
<div id="dialog1" title="Setting the Priority of your Objective">
  <p>Set the Consultant Threshold to what you consider proficient. For example, 
  if you set the consultant threshold to 80%, then students will only
  be considered as consultants for objectives where they have scored 80% or above.</p>
  <p>Keep in mind that Desk Consultants usually works best when the consultants
  have some room to grow.</p>
  <p>We recommend setting the consultant threshold to 7.</p>
</div>

<%= render 'shared/pre_req_dialog' %>
<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<div class="row">
  
    <%= form_for(@seminar) do |f| %>
      <%= render 'shared/error_messages', :object => @seminar %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <div class="singleOption">
        <h2><button type="button" class="btn btn-info" id="btn-info1">?</button>&nbsp; Consultant Threshold </h2> 
        <%= f.collection_radio_buttons :consultantThreshold, [[5, '5 stars'] , [6, '6 stars'] ,[7, '7 stars'], [8, '8 stars'], [9, '9 stars'], [10, '10 stars']],
                               :first, :last, { item_wrapper_tag: false } do |b| %>
          <label class="radio-inline">
            <%= b.radio_button%> &nbsp; <%= b.label %>
          </label>
        <% end %>
      </div>
      <br/>
      
      <div class="singleOption">
        <h2>Checkpoint Due Dates</h2>
        <% if action_name == "edit" %>
          <% first_seminar = current_user.first_seminar %>
          <%= link_to "Copy Due Dates from #{first_seminar.name}", copy_due_dates_seminar_path(@seminar), :id => "copy_due_dates" unless first_seminar == @seminar %>
        <% end %>
        <% 4.times do |n| %>
          <h3>&emsp; Term <%= n+1 %></h3>
          <table class="table-borderless">
            <% 4.times do |m| %>
              <tr>
                <td>&emsp; &emsp; Checkpoint <%= m+1 %> due</td>
                <td>&emsp; <input type="text" class="datepicker" name="seminar[checkpoint_due_dates][<%= n %>][<%= m %>]" value="<%= @seminar.checkpoint_due_dates[n][m] if @seminar.checkpoint_due_dates %>"></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
      </br>
    
      <%= render :partial => 'shared/include_checks', 
        :locals => {:list_for_checks => Objective.all, 
          :check_box_name => "seminar[objective_ids][]", 
          :inclusion_var => @seminar.objectives, :boulderfist => true, 
          :include_word => "objectives", :include_on => "in this class",
          :model_name => "class"}  %>
          
      </br>
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
    
</div>

<br/>
<div>
  <h4>
    HINT: Begin the class with the period number first to make sure that your
    classes are displayed in the correct order.</h4>
  <h4> For example: 1 Math 7 Honors</h4>
</div>