<% provide(:title, 'Due Dates') %>
<% provide(:button_text, 'Update This Class') %>

<% provide(:headerText, "Due Dates for #{@seminar.name}" ) %>
<% provide(:headerPic, "apple.jpg") %>

<% if @this_teacher_can_edit %>
  <% first_seminar = current_user.first_seminar %>
  <%= link_to "Copy Due Dates from #{first_seminar.name}",
    copy_due_dates_seminar_path(@seminar),
    :class => "plain_link",
    :id => "copy_due_dates" unless first_seminar == @seminar %>
<% end %>
  
<%= form_for(@seminar) do |f| %>
  <input type="hidden" name="seminar[checkpoint_due_dates][0][0]" value=0>
  <% 4.times do |n| %>
    <% term_num = n + 1 %>
    <h3>&emsp; Term <%= term_num %></h3>
    
    <div class="row">
      <table class="table-borderless">
        <input type="hidden" name="seminar[checkpoint_due_dates][<%= term_num %>][0]" value=0>
        <% 4.times do |m| %>
          <% checkpoint_num = m + 1 %>
          <tr>
            <td>&emsp; &emsp; Checkpoint <%= checkpoint_num %> due</td>
            <% if @this_teacher_can_edit %>
              <% current_value = @seminar.checkpoint_due_dates[term_num][checkpoint_num] %>
              <% default_value = current_value || Date.today %>
              <td>&emsp; <input type="text" class="datepicker"
                name="seminar[checkpoint_due_dates][<%= term_num %>][<%= checkpoint_num %>]" 
                value="<%= default_value %>"></td>
            <% else %>
              <td>
                <%= @seminar.checkpoint_due_dates[n][m] %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    
  <% end %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>