
<% provide(:title, 'Edit Class') %>
<% provide(:button_text, 'Update This Class') %>

<% provide(:headerText, "Basic Info for #{@seminar.name}" ) %>
<% provide(:headerPic, "E.png") %>

<%= render 'shared/navribbons/main_navribbon' %>
<%= render 'seminar_submenus' %>
<%= render 'shared/headline' %>

<%= form_for(@seminar) do |f| %>
  <%= render 'shared/error_messages', object: @seminar %>
  
  <div class="row">
    <div class="col-sm-4">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  
    <div class="col-sm-2">
      <%= f.label "School Year" %>
      <%= render 'shared/school_year_selection', :index => 1, :default_year => @seminar.school_year, :name => "seminar[school_year]" %>
    </div>
    
    <div class="col-sm-4">
      <%= f.label "Default Currency Increment" %>
      <h5>(How much class money do you usually give students at a time?)</h5>
      <%= f.text_field :default_buck_increment %>
    </div>
  </div>
  
  <div class="row">
    <div class="singleOption col-sm-6">
      <%= f.label "Consultant Threshold" %>
      <%= f.collection_radio_buttons :consultantThreshold, [[5, '5 stars'] , [6, '6 stars'] ,[7, '7 stars'], [8, '8 stars'], [9, '9 stars'], [10, '10 stars']],
              :first, :last, { item_wrapper_tag: false } do |b| %>
          <label class="radio-inline">
              <%= b.radio_button%> &nbsp; <%= b.label %>
          </label>
      <% end %>
    </div>
  </div>
  
  </br>
  </br>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>


</br>
</br>
</br>
</br>
<div>
  <%= button_to "Create New Students", new_student_path, :params => {:seminar_id => @seminar.id}, :method => :get, class: "btn btn-lg btn-primary" %></br>
  <%= button_to "Add an Existing Student", {:controller => "students", :action => "index"}, :method => :get, class: "btn btn-lg btn-primary" %></br>
</div>


