
<% provide(:title, 'Edit Class') %>
<% provide(:button_text, 'Update Class') %>

<% provide(:headerText, "Edit #{@seminar.name} and Objectives" ) %>
<% provide(:headerPic, "square_fractal.png") %>

<%= render 'shared/navribbon' %>

<%= render "form" %>

<div>
  <%= button_to "Create a New Objective", new_objective_path(:origin => @seminar.id), :method => :get, class: "btn btn-lg btn-primary" %><br/>
  <%= button_to "Create New Students", new_student_path, :method => :get, class: "btn btn-lg btn-primary" %><br/>
  <%= button_to "Add an Existing Student", {:controller => "students", :action => "index"}, :method => :get, class: "btn btn-lg btn-primary" %><br/>
  <%= button_to "Set Benchmark Stars", benchmarks_seminar_path(@seminar), :method => :get, class: "btn btn-lg btn-primary" %><br/>
  
  
  <%= button_to( "Delete This Class", @seminar, :method => :delete,
     data: { confirm: "Are you sure you want to delete this class?" },
                    :class => "btn btn-lg btn-primary") %>
</div>


