
<% provide(:title, 'Edit Class') %>
<% provide(:button_text, 'Update This Class') %>

<% provide(:headerText, "Edit #{@seminar.name}" ) %>
<% provide(:headerPic, "E.png") %>


<div id="dialog1" title="Setting the Priority of your Objective">
  <p>Set the Consultant Threshold to what you consider proficient. For example, 
  if you set the consultant threshold to 80%, then students will only
  be considered as consultants for objectives where they have scored 80% or above.</p>
  <p>Keep in mind that Desk Consultants usually works best when the consultants
  have some room to grow.</p>
  <p>We recommend setting the consultant threshold to 7.</p>
</div>

<% @submenu_tabs = [["Priorities", "priorities", true], ["Objectives", "objectives", false], ["Pretests", "pretests", false],
  ["Due Dates", "due_dates", false],  ["Rewards", "rewards", false],  ["Teachers", "shared_teachers",false], ["Name", "name", false],
  ["School Year", "school_year", false], ["Advanced", "advanced", false] ] %>

<%= render 'shared/pre_req_dialog' %>
<%= render 'shared/navribbons/main_navribbon' %>
<%= render 'shared/submenu_navribbon' %>
<%= render 'shared/headline' %>

<div class="row">
  
    <%= form_for(@seminar) do |f| %>
      <%= render 'shared/error_messages', :object => @seminar %>
      
      <% @form = f %>
      <% @submenu_tabs.each do |sub_tab| %>
        <div class="singleOption submenu_item submenu_<%= sub_tab[1] %> <%= "currently_hidden" unless sub_tab[2] %>">
          <%= render :partial => "seminars/edit_submenus/#{sub_tab[1]}" %>
        </div>
      <% end %>
      
          
      </br>
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
    
</div>

<br/>


<div>
  <%= button_to "Create a New Objective", new_objective_path(:origin => @seminar.id), :method => :get, class: "btn btn-lg btn-primary" %><br/>
  <%= button_to "Create New Students", new_student_path, :method => :get, class: "btn btn-lg btn-primary" %><br/>
  <%= button_to "Add an Existing Student", {:controller => "students", :action => "index"}, :method => :get, class: "btn btn-lg btn-primary" %><br/>
  
  <% if @seminar.teachers.count > 1 %>
    <p class="btn btn-lg btn-primary remove_btn" id="remove_<%= @seminar.id %>">Remove This Class</p>
    <% @st = @seminar.seminar_teachers.find_by(:user => current_user) %>
    
    <%= link_to "Confirm Removing #{@seminar} from your Classes.", seminar_teacher_path(@st), 
          :method => :delete,  class: "btn btn-small btn-primary", :id => "confirm_remove_#{@seminar.id}" %>
  <% else %>
    <p class="btn btn-lg btn-primary remove_btn" id="delete_<%= @seminar.id %>">Delete This Class</p>
    <%= button_to "Click here to confirm that you want to delete #{@seminar.name}", @seminar, 
        :method => :delete, :id => "confirm_#{@seminar.id}", class: "btn btn-lg btn-primary confirm_button" %>
  <% end %>
</div>


