<% provide(:title, 'All Classes') %>
<% provide(:headerText, 'All Classes') %>
<% provide(:headerPic, 'objectives.png') %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<%= render :partial => 'shared/searchField', 
  :locals => {:whichPath => seminars_path,
              :attrLabel1 => "Name", :attrLabel2 => "Teacher ID", :attrLabel3 => nil, :attrLabel4 => nil, :attrLabel5 => nil,
              :attrData1 => :name,   :attrData2 => :user_id, :attrData3 => nil, :attrData4 => nil, :attrData5 => nil} %>

<%= will_paginate %>

<table>
    <thead>
      <tr>
        <td>Delete</td>
        <td>Id</td>
        <td>Name</td>
        <td>Teacher</td>
        <td>Student Count</td>
        <td>Created_at</td>
        <td>Updated_at</td>
        <td>consultantThreshold</td>
      </tr>
    </thead>
    <tbody>
      <% @seminars.each do |seminar| %>
        <tr class="users">
          <td><%= link_to "delete", seminar, method: :delete,
                          data: { confirm: "Are you sure?" } %></td>
          <td><%= link_to seminar.id, seminar %></td>
          <td><%= link_to seminar.name, seminar %></td>
          <% teacherId = seminar.user.id %>
          <% teacher = User.find(teacherId) %>
          <td><%= teacherId %> <%= teacher.last_name %></td>
          <td><%= seminar.students.count %></td>
          <td><%= seminar.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= seminar.updated_at.strftime("%Y-%m-%d") %></td>
          <td><%= seminar.consultantThreshold %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= will_paginate %>