
<% provide(:title, 'New Class') %>
<% provide(:button_text, 'Create This Class') %>

<% provide(:headerText, "New Class") %>
<% provide(:headerPic, "square_fractal.png") %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<%= form_for(@seminar) do |f| %>
      <%= render 'shared/error_messages', :object => @seminar %>
      
      <%= f.hidden_field :teacher_id, :value => current_user.id %>
      
      <div class="col-sm-4">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
  
      <div class="col-sm-2">
        <%= f.label "School Year" %>
        <%= render 'shared/school_year_selection', :index => 1, :default_year => @seminar.school_year, :name => "seminar[school_year]" %>
      </div>
      
      
      </br>
      
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<div>
  <h4>
    HINT: Begin the class with the period number first to make sure that your
    classes are displayed in the correct order.</h4>
  <h4> For example: 1 Math 7 Honors</h4>
</div>

