
<% provide(:title, 'New Class') %>
<% provide(:button_text, 'Create This Class') %>

<% provide(:headerText, "New Class") %>
<% provide(:headerPic, "square_fractal.png") %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<%= form_for(@seminar) do |f| %>
      <%= render 'shared/error_messages', :object => @seminar %>
      
      <%= f.hidden_field :teacher_id, :value => current_user.id %>
      <% @form = f %>
      
      <%= render 'seminars/edit_submenus/name' %>
      <%= render 'seminars/edit_submenus/school_year' %>
      </br>
      
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<div>
  <h4>
    HINT: Begin the class with the period number first to make sure that your
    classes are displayed in the correct order.</h4>
  <h4> For example: 1 Math 7 Honors</h4>
</div>

