
<% provide(:title, 'Class Objectives') %>
<% provide(:button_text, 'Update This Class') %>

<% provide(:headerText, "Objectives for #{@seminar.name}" ) %>
<% provide(:headerPic, "objectives.png") %>

<%= render 'shared/navribbons/main_navribbon' %>
<%= render 'seminar_submenus' %>
<%= render 'shared/headline' %>

<% if @this_teacher_can_edit %>
    <%= form_for(@seminar) do |f| %>
        <%= render :partial => 'shared/include_checks', 
            :locals => {:list_for_checks => Objective.all.order(:name), 
            :check_box_name => "seminar[objective_ids][]", 
            :inclusion_var => @seminar.objectives, :boulderfist => true, 
            :include_word => "objectives", :include_on => "in this class",
            :model_name => "class"}  %>
            
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
<% else %>
    <h2>Objectives in this Class</h2>
    <ul>
        <% @objectives.each do |objective| %>
            <li><%= objective.name %></li>
        <% end %>
    </ul>
<% end %>