
<% provide(:headerText, "Edit #{@seminar.name} Priorities") %>
<% provide(:headerPic, "priorities.png") %>

<%= render 'shared/navribbon' %>
<%= render 'shared/back-link' %>

<%= render 'shared/headline' %>

<%= form_tag '/objective_seminars/update_priorities/' do |aj| %>
      <%#= a.hidden_field :seminar_id, :value => current_user.current_class %>
 
    <table>
        <thead>
            <tr>
                <td></td>
                <td>0 - None</td>
                <td>1 - Low</td>
                <td>2 - Medium</td>
                <td>3 - High</td>
            </tr>
        </thead>
        <% @os.each do |os| %>
            <tr>
                <% objective = os.objective %>
                <% petrie = [false,false,false,false] %>
                <% petrie[os.priority] = true %>
                <% if objective %>
                    <td><%= objective.name %></td>
                    <% 4.times do |n| %>
                        <% checkTag = "" %>
                        <% checkTag = "checked" if petrie[n] %>
                        <td><%= radio_button("os", "priority", n, {:name => "syl[#{os.id}]", :checked => petrie[n], :id => "#{os.id}_#{n}" }) %></td> 
                    <% end %>
                <% end %>
            </tr>
        <% end %>
    </table>
    </br>
    
    <%= submit_tag "Update these priorities" %>

<% end %>
