<% provide(:title, "#{@seminar.name} Scoresheet") %>

<% provide(:headerText, "#{@seminar.name} Scoresheet") %>
<% provide(:headerPic, "scoresheet.png") %>


<%= render 'shared/navribbons/main_navribbon' %><br/>
<%= render 'shared/teacher_name_and_edit', user: @teacher %><br/>
<%= render 'shared/class_and_edit' %>
<%= render 'shared/headline' %>



<% if @show_all == "true" %>
    <%= link_to "Show only scores from this term", 
        scoresheet_seminar_path(:seminar => @seminar, :show_all => false) %>
<% else %>
    <%= link_to "Show all objectives", 
        scoresheet_seminar_path(:seminar => @seminar, :show_all => true) %>
<% end %>
  



<div>
  <%= button_tag "Hide Scores", :id => "toggle_text", :first_text => "Hide Scores", :second_text => "Show Scores" %>
</div>

<%= form_tag update_scoresheet_seminar_path(@seminar) do %>
  <%= submit_tag "Save Scores", class: "btn btn-primary", :id => "save_scores_top" %>
  <%= hidden_field_tag "old_scores", @scores %>

  <br/>
  <div>
    <table class="table-borderless scoreTable" id="scoreTable">
      <thead class="table-borderless">
        <th class="table-borderless">Student</th>
        <th class="rotate table-borderless score_box"><div><span>Quiz Stars</span></div></th>
        <th class="rotate table-borderless score_box"><div><span>Stars Used Toward Grade</span></div></th>
        <th class="rotate table-borderless score_box"><div><span>Total Stars</span></div></th>
        <% @objectives.each_with_index do |objective, index| %>
          <th class="rotate table-borderless score_box col_<%= index %>"><div><span>
            <%= link_to objective.short_name, edit_objective_path(objective) %>
          </span></div></th>
        <% end %>
      </thead>
      <tbody>
        <% @students.each_with_index do |student, indexx| %>
          <% stud_id = student.id %>
          <% ss = student.seminar_students.find_by(:seminar => @seminar) %>
          <tr>
            <td class="score_box row_<%= indexx %>"><h4><%= link_to student.last_name_first, seminar_student_path(ss) %> </h4></td>
            <td><%= stars_this_term = @scores[stud_id].values.inject{|a,b| a.to_i + b.to_i}.to_i %></td>
            <td><%= bought_stars = student.stars_used_toward_grade_this_term(@seminar, @term).to_i %></td>
            <td><%= stars_this_term + bought_stars %></td>
            <% @objectives.each_with_index do |objective, indexy| %>
              <% obj_id = objective.id %>
              <% this_points = @scores[stud_id][obj_id] %>
              <td class="themScores to_unhide score_box row_<%= indexx %> col_<%= indexy %>">
                  <input type="text" name="scores[<%= stud_id %>][<%= obj_id %>]" 
                    class="score_cell r<%= indexx %>c<%= indexy %>" 
                    value="<%= this_points %>" 
                    cell_row="<%= indexx %>" cell_col="<%= indexy %>" >
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </br>
  <%= submit_tag "Save Scores", class: "btn btn-primary" %>
  
<% end %>
  
<div>
  <h3> <%= pluralize(@students.count, "Student") %> </h3>
</div>

<div>
  <%= button_to "Create a New Objective", new_objective_path, :method => :get, class: "btn btn-lg btn-primary" %><br/>
  <%= button_to "Create New Students", new_student_path, :method => :get, class: "btn btn-lg btn-primary" %><br/>
  <%= button_to "Add an Existing Student", {:controller => "students", :action => "index"}, :method => :get, class: "btn btn-lg btn-primary" %><br/>
  
</div>
