
<% provide(:title, @special_title) %>

<% provide(:headerText, @special_title) %>
<% provide(:headerPic, "scoresheet.png") %>

<%= render 'shared/navribbons/main_navribbon' %><br/>
<%= render 'shared/teacher_name_and_edit', user: @teacher %><br/>
<%= render 'shared/class_and_edit' %>
<%= render 'shared/headline' %>




<div class="row">
  <%# SHOW/HIDE BUTTONS %>
  <div class="col-sm-1">
    <% if @show_all == "true" %>
      <%= render 'scoresheet_button', :label => "Hide Blank Columns", :id => "hide_blank_columns",
        :show_all => false, :which_scores => @which_scores %>
    <% else %>
        <%= render 'scoresheet_button', :label => "Show Blank Columns", :id => "show_blank_columns",
          :show_all => true, :which_scores => @which_scores %>
    <% end %>
  </div>
  
  <div class="col-sm-1"></div>
  
  <%# WHICH SCORE BUTTONS %>
  <div class="col-sm-2 singleOption">
    <div class="row">
      <% if @which_scores != :points_this_term %>
        <div class="col-sm-2">
          <%= render 'scoresheet_button', :label => "Current Term", :id => "switch_to_current_term",
            :show_all => @show_all, :which_scores => :points_this_term %>
        </div>
        <div class="col-sm-3"></div>
      <% end %>
      
      <% if @which_scores != :points_all_time %>
        <div class="col-sm-3">
          <%= render 'scoresheet_button', :label => "All Time", :id => "switch_to_all_time",
            :show_all => @show_all, :which_scores => :points_all_time %>
        </div>
      <% end %>
      
      <% if @which_scores != :pretest_score %>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <%= render 'scoresheet_button', :label => "Pretests", :id => "switch_to_pretests",
            :show_all => @show_all, :which_scores => :pretest_score %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</br>

<%= form_tag update_scoresheet_seminar_path(@seminar) do %>
  <%= hidden_field_tag "old_scores", @scores %>
  <%= hidden_field_tag "which_scores", @which_scores %>
  <table >
    <tr>
      <td id="firstTd">
      </td>
      <td>
        <div id="div_header">
          <%# OBJECTIVE HEADER %>
          <table >
            <tr>
              <% ["Quiz Stars", "Stars Used", "Total Stars"].each do |col_header| %>
                <td class="score_table_piece">
                  <div class="score_header center"><%= col_header %></div>
                </td>
              <% end %>
              <% @objectives.each_with_index do |objective, indexy| %>
                <td class="score_table_piece col_<%= indexy %>">
                  <% if objective.id != nil %>
                    <div class="score_header center">
                      <%= link_to objective.name, objective_path(objective),
                          :class => "plain_link",
                          :id => "obj_#{objective.id}" %>
                    </div>
                  <% end %>
                </td>
              <% end %>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    
    <tr>
      <td valign="top">
        <div id="first_col">
          <%# STUDENT NAME COLUMN %>
          <table>
            <% @students.each_with_index do |student, indexx| %>
              <% this_ss = SeminarStudent.find_by(:seminar => @seminar, :user => student) %>
              <tr>
                <td class="score_table_piece row_<%= indexx %> first_col">
                  <div class="student_name_header">
                    <%= link_to student.last_name_first, seminar_student_path(this_ss),
                          :class => "plain_link",
                          :id => "ss_#{this_ss.id}" %>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </td>
      
      <td valign="top">
        <div id="table_div">
          <%# SCORES %>
          <table class="score_table">
            <% @students.each_with_index do |student, indexx| %>
              <% stud_id = student.id %>
              <tr>
                <% stars_this_term = @scores[stud_id].values.inject{|a,b| a.to_i + b.to_i}.to_i %>
                <% bought_stars = student.stars_used_toward_grade_this_term(@seminar, @term).to_i %>
                <% total_stars = stars_this_term + bought_stars %>
                <% [stars_this_term, bought_stars, total_stars].each do |this_var| %>
                  <td class="score_cell score_table_piece center row_<%= indexx %>" cell_row="<%= indexx %>" >
                    <%= this_var %>
                  </td>
                <% end %>
                <% @objectives.each_with_index do |objective, indexy| %>
                  <% obj_id = objective.id %>
                  <% this_points = @scores[stud_id][obj_id] %>
                  <td class="score_cell" cell_row="<%= indexx %>" cell_col="<%= indexy %>">
                    <% if obj_id.present? %>
                      <input type="text" cell_row="<%= indexx %>" cell_col="<%= indexy %>"
                          class="score_cell score_table_piece r<%= indexx %>c<%= indexy %> row_<%= indexx %> col_<%= indexy %>" 
                          value="<%= this_points %>" 
                          
                          name="scores[<%= stud_id %>][<%= obj_id %>]"
                          id="scores[<%= stud_id %>][<%= obj_id %>]">
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </td>
    </tr>
  </table>
  <%= submit_tag "Save Scores", :id => "save_scores_bottom", :class => "btn btn-primary" %>
<% end %>

<div>
  <h3> <%= pluralize(@students.count, "Student") %> </h3>
</div>