<% provide(:title, 'Shared Teachers') %>
<% provide(:button_text, 'Update This Class') %>

<% provide(:headerText, "Shared Teachers for #{@seminar.name}" ) %>
<% provide(:headerPic, "objectives.png") %>

<%= render 'shared/navribbons/main_navribbon' %>
<%= render 'seminar_submenus' %>
<%= render 'shared/headline' %>


<table>
  <thead>
    <td></td>
    <td>Can View</td>
    <td>Can Edit</td>
    <td></td>
  </thead>
  <% @school.verified_teachers.each do |teacher| %>
    <% @teacher = teacher %>
    <% @st = SeminarTeacher.find_by(:seminar => @seminar, :user => teacher) %>
    <tr>
      <td><%= teacher.full_name_with_title %></td>
      <td class="button-within"><%= render 'seminars/shared_teacher_pieces/can_view' %></td>
      <td class="button-within"><%= render 'seminars/shared_teacher_pieces/can_edit' %></td>
      <td class="button-within"><%= render 'seminars/shared_teacher_pieces/make_owner' %></td>
    </tr>
  <% end %>
</table>