<table>
<% @seminar.students.each do |stud| %>
    <tr>
        <td><h4><%= stud.last_name_first %></h4></td>
        <% this_gs = stud.goal_students.find_by(:seminar => @seminar, :term => 1) %>
        <% gs_id = this_gs.id if this_gs %>
        <td>
            <% if this_gs.goal %>
                <h5><%= this_gs.goal.name %></h5>
            <% end %>
        </td>
        <td>
            <% if this_gs.goal && !this_gs.approved %>
                <div class="btn btn-primary goal_approval" gs_id="<%= gs_id %>">Approve</div>
                <div class="btn btn-primary goal_change" gs_id="<%= gs_id %>">Change</div>
                <%= select("syl", "goal", Goal.all.collect {|p| [ p.name, p.id ] }, {}, {:class => "goal_choice_list select_box left_box", :id => "gs_#{gs_id}"}) %>
                
            <% end %>
        </td>
    </tr>
<% end %>
</table>