<% provide(:scores_label, 'Your Scores in All Objectives') %>
<% provide(:button_text, 'Change Your Requests') %>

<% def quiz_link(quiz, age) %>
    <% this_action = age == "new" ? "new" : "edit" %>
    <%= link_to quiz.name, :controller => "quizzes", :action => "#{this_action}", :objective_id => quiz.id %>
<% end %>

<% def list_of_quizzes(list, category, age) %>
    <% if list.count > 0 %>
        <h3><%= category %></h3>
        <ul><% list.each do |quiz| %>
            <li id="quiz_<%= quiz.id %>">
                <% quiz_link(quiz, age) %>
            </li>
        <% end %></ul>
    <% end %>
<% end %>



<div class="row">
    <div class="col-sm-8 singleOption">
        <h1>&emsp;&emsp;<%= @student.fullName %>&emsp;&emsp; </br><small><%= @seminar.name %>&emsp; <%= @teacher.name_with_title %></small></h1>
    </div>
    
    <div class="col-sm-2">
        
    </div>
        
    <div class="col-sm-2">
        <h2>Total stars</h2>
        <h1><%= @student.total_stars(@seminar) %></h1>
    </div>
</div>
</br>


<div class="singleOption">
    <% if @show_quizzes %>
        <h2>Quizzes Available</h2>
        </br>
        
        <% list_of_quizzes(@unfinished_quizzes, "Unfinished Quizzes", "old") %>
        
        <% list_of_quizzes(@desk_consulted_objectives, "Desk Consultants Objectives", "new") %>
    
        <% list_of_quizzes(@all_pretest_objectives, "Pretest Objectives", "new") %>
    <% else %>
        <h3>No quizzes available right now.</h3>
    <% end %>
</div>

</br>
</br>

<%= render 'shared/teach_requests' %>

</br>
<%= button_to "Edit Your Profile", edit_student_path(@student), 
        class: "btn btn-lg btn-primary", :method => :get %>