
<table class="table-borderless">
    <tr>
        <td rowspan="2">
            <div class="singleOption">
                <%= image_tag("VerySmallBWLogo.jpg") %>
                </br>Z School Goalkeeper
                </br> www.MrZSchool.com
            </div>
        </td>
        <td>
            <h3>&emsp; <strong><%= @stud.first_name %> <%= @stud.last_name %></strong> &emsp; <%= (@this_term + 1).ordinalize %> Term Goal</h3>
        </td>
    </tr>
    <tr>
        <td>
            <h2>&emsp; <%= @gs.goal ? @gs.statement_with_target : "No goal set." %></h2>
        </td>
    </tr>
</table>