<h3>Question: <%= @riposte.position %></h3>

<div class="singleOption">
    <div class="row">
        <div class="col-sm-6">
            <%= @question.prompt %>
        </div>
        <div class="col-sm-6">
            <% picture = @question.picture %>
            <%= image_tag(picture.image_url(:quiz_size).to_s) if picture.present? %>
        </div>
    </div>
</div>
</br>

<%= form_for(@riposte) do |r| %>
    <%= render :partial => "/ripostes/#{@question.style}" %>
    </br>
    <%= r.submit "Next Question", class: "btn btn-primary" %>
<% end %>