<p id="notice"><%= notice %></p>

<h1>Ripostes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ripostes.each do |riposte| %>
      <tr>
        <td><%= link_to 'Show', riposte %></td>
        <td><%= link_to 'Edit', edit_riposte_path(riposte) %></td>
        <td><%= link_to 'Destroy', riposte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Riposte', new_riposte_path %>
