<% provide(:title, 'All Arrangements') %>

<% provide(:headerText, "All Arrangements") %>
<% provide(:headerPic, "sierpinski.png") %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<% if @consultancies.present? %>
    <table>
        <% @consultancies.each do |consultancy| %>
            <tr>
                <td><%= render 'shared/delete_and_confirm', object: consultancy %> </td>
                <td><%= link_to consultancy.display_date, consultancy_url(consultancy), :id => "consultancy_#{consultancy.id}" %></td>
            </tr>
            </br>
        <% end %>
    </table>
<% else %>
    <%= no_consultancies_message %>
<% end %>

</br>

<h3>
    <%= new_consultancy_button_text %>: &emsp;
    <%= link_to image_tag("desk_consult.png"), new_consultancy_path(:seminar => @seminar.id), :id => "desk_consult_#{@seminar.id}" %>
</h3>