<% provide(:title, "#{@seminar.name} Desk Consultants") %>

<% provide(:headerText, show_consultancy_headline(@consultancy)) %>
<% provide(:headerPic, "desk_consult.png") %>

<%= render 'shared/navribbons/main_navribbon' %><br/>
<%= render 'shared/back-link' %>
<%= render 'shared/teacher_name_and_edit', user: current_user %><br/>
<%= render 'shared/class_and_edit' %>

<%= render 'shared/headline' %>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="singleOption lowSingOpt">
      
        <h2><%= @seminar.name %></h2>
        </br>
        &emsp;&emsp;&emsp; <h4 class="studentName block">Key:</h4>
        <p class="studentName consultant block">Consultant</p>
        <p class="studentName topic block">Topic</p>
      </div>
    </div>
    <div class="col-md-5">
      <%= render 'shared/big_link', link_link: new_consultancy_path(:seminar => @seminar.id), 
        link_text: new_consultancy_button_text, link_image: "desk_consult.png"  %>
      <%= render 'shared/big_link', link_link: consultancies_path(:seminar => @seminar.id), 
        link_text: "List All Arrangements", link_image: "sierpinski.png"  %>
      <table><tr>
      <%= render 'shared/delete_and_confirm', object: @consultancy %>
      </tr></table>
    </div>
  </div>
<br/>

<% @group_num = 0 %>
<% @letters = [0,"A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T"] %>


<% def studentCell(num, groupNum, team) %>
  <% thisClass = (team.consultant.present? && team.users[num] == team.consultant ? "table with-border consultant" : "table with-border") %>
  <td class = "<%= thisClass %>">
    <p class = "studentName center">
      <% this_student = team.users[num] %>
      <% if this_student %>
        <%= this_student.first_plus_init %>
        <% this_score = this_student.objective_students.find_or_create_by(:objective => team.objective) %>
        <% if this_score.passed_with_100 %>
          <br/><small>(100%)</small>
        <% end %>
      <% end %>
    </p>
  </td>
<% end %>

<% def objective_cell(objective) %>
  <td colspan="2" bgcolor='blue' class="table with-border topic">
    <% if @group_num < 20 %>
      <p class="studentName center"><small>Group <%= @letters[@group_num] %></small></p>
    <% end %>
    <p class='studentName center'>
      <%= objective.short_name %>
    </p>
  </td>
<% end %>

<% @unplaced_team = @consultancy.teams.find_by(:bracket => 1) %>
<% if @unplaced_team %>
  <div class="singleOption lowSingOpt">
    <h3>These students were not placed in a group:</h3>
    <h4>(The most common reason is because these students have passed all available objectives)</h4>
    <% @unplaced_team.users.each do |student| %>
      <p class="studentName"><%= student.first_plus_init %></p>
    <% end %>
  </div>
<% end %>

<table class='table table-borderless'>
  <% @consultancy.teams.in_groups_of(3).each do |group| %>
    <tr>
      <% group.each do |team| %>
        <% if team && team.objective %>
          <% @group_num = @group_num + 1 %>
          <td>
            <table class="consultant-group">
              <tr>
                <% studentCell(0, @group_num, team) %> 
                <% studentCell(1, @group_num, team) %> 
              </tr>
              <tr>
                <% objective_cell(team.objective) %>
              </tr>
              <tr>
                <% studentCell(2, @group_num, team) %> 
                <% studentCell(3, @group_num, team) %> 
              </tr>
            </table>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>