<% provide(:title, 'Approve Student Goals') %>
<% provide(:button_text, 'View Checkpoints') %>

<% provide(:headerText, "Approve Student Goals") %>
<% provide(:headerPic, 'objectives.png') %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<%= render 'shared/navribbon_goals' %>

<h4><%= @seminar.goals_needing_approval %> students need you to choose/approve their goals for this term.</h4>

<table>
    <thead>
        <th>Name</th>
        <th>Current Goal</th>
        <th>Set Goal To</th>
    </thead>
<% @seminar.students.order(:last_name).each do |stud| %>
    <tr>
        <td><h4><%= stud.last_name_first %></h4></td>
        <% this_gs = stud.goal_students.where(:seminar => @seminar)[@seminar.term] %>
        <% gs_id = this_gs.id if this_gs %>
        <td>
            <h5 id="goal_text_<%= gs_id %>"><%= this_gs.goal ? this_gs.goal.name : "No goal set" %></h5>
            <h5 id="target_text_<%= gs_id %>"><%= this_gs.target ? this_gs.target : "? " %> % </h5>
            </br>
            </br>
            <% if !this_gs.approved %>
                <div class="btn btn-primary goal_approval" id="approval_button_<%= gs_id %>" gs_id="<%= gs_id %>">Approve</div>
            <% end %>
        </td>
        <td>
            <%= select("syl", "goal", Goal.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "Choose Student's Goal"}, {:class => "goal_change select_box left_box", :gs_id => "#{gs_id}"}) %>
            <%= select("syl", "target", percent_array.collect{|p| [ p[0], p[1] ] },  {:include_blank => "Choose Student's Target"}, {:class => "target_change select_box left_box",  :gs_id => "#{gs_id}"}) %>
        </td>
    </tr>
<% end %>
</table>

<td><%= link_to image_tag("apple.png"), goal_students_path(:seminar => @seminar, :override => true), :id => "#{@seminar.name} student goals" %></td>