<h2>Choose your Checkpoints</h2>

<h2>Goal for Term <%= @term %> &emsp; <strong><%= @gs.goal.name %></strong></h2>

<% if @gs.approved %>
    <div class="row singleOption center">
        <h4>This Goal has been approved by your teacher, so the goal cannot be changed.</h4>
        <h4>You may be able to adjust some of your checkpoints.</h4>
        <h4>Unless the due dates for those checkpoints are too soon.</h4>
    </div>
<% end %>

<%= form_tag update_checkpoints_goal_student_path do %>
    <% @gs.checkpoints_in_order.each_with_index do |checkpoint, index| %>
        <% this_check_num = index + 1 %>
        <h3>Checkpoint <%= this_check_num %></h3>
        <% this_due_date = Date.strptime(@gs.seminar.checkpoint_due_dates[@term][this_check_num], "%m/%d/%Y") %>
        <% these_actions = @gs.goal.actions[this_check_num] %>
        <% if these_actions.count > 1 %>
            <% if this_due_date < Date.today %>
                <h5 id="past_due_<%= index %>">The due date for this checkpoint has already passed.</h5></br>
            <% elsif this_due_date - 2.days <= Date.today %>
                <h5 id="too_soon_<%= index %>">The due date for this checkpoint is too soon. The checkpoint cannot be changed.</h5></br>
            <% else %>
                <div id="action_picker_<%= index %>">
                    <%= select("syl[#{checkpoint.id}]", "action", 
                    these_actions.collect {|act| [@gs.action_with_target(act), act]},
                    :selected => checkpoint.action, :class => "select_box left_box") %>
                </div>
            <% end %>
        <% else %>
            
            <h5 id="statement_<%= index %>"><%= checkpoint.statement %></h5>
        <% end %>
    <% end %>
    </br>
    </br>
    <%= submit_tag "Save These Checkpoints", :class => "btn btn-primary" %>
<% end %>