<% provide(:title, 'Edit Goal') %>
<% provide(:button_text, 'Save This Goal') %>

<% provide(:headerText, "Edit Goal" ) %>
<% provide(:headerPic, "apple.jpg") %>

<% @ss = SeminarStudent.find_by(:seminar => @gs.seminar, :user => @gs.user) %>
<%= link_to "Back to Viewing Your Class", seminar_student_path(@ss), class: "btn btn-primary" %>
<%= render 'shared/headline' %>


    <%= form_for(@gs) do |f| %>
        <%= f.label :goal %>
        <% if @gs.goal.present? %>
            <%= f.collection_select :goal_id, Goal.all, :id, :name, prompt: true, :selected => @gs.goal.name  %>
        <% else %>
            <%= f.collection_select :goal_id, Goal.all, :id, :name, :prompt => "Choose your goal"  %>
            <input type="hidden" name="set_checkpoints" value="1" />
        <% end %>
        <%= f.label :target %>
        <%= f.select(:target, percent_array) %>
        <div><%= f.submit "Save This Goal", class: "btn btn-primary", :id => "goal_submit_button" %></div>
    <% end %>