<% provide(:title, 'Edit Goal') %>
<% provide(:button_text, 'Save This Goal') %>

<% provide(:headerText, "Edit Goal" ) %>
<% provide(:headerPic, "apple.jpg") %>

<% @ss = SeminarStudent.find_by(:seminar => @goal_student.seminar, :user => @goal_student.user) %>
<%= link_to "Back to Viewing Your Class", seminar_student_path(@ss), class: "btn btn-primary" %>
<%= render 'shared/headline' %>


<%= form_for(@goal_student) do |f| %>
    <%= f.label :goal %>
    <% if @goal_student.goal.present? %>
        <%= f.collection_select :goal_id, Goal.all, :id, :name, prompt: true, :selected => @goal_student.goal.name  %>
    <% else %>
        <%= f.collection_select :goal_id, Goal.all, :id, :name, :prompt => "Choose your goal"  %>
    <% end %>
    <%= f.label :target %>
    <%= f.select(:target, percent_array) %>
    <div class="currently_hidden"><%= f.submit "Save This Goal", class: "btn btn-primary", :id => "goal_submit_button" %></div>
<% end %>