<% provide(:title, 'Student Goals') %>
<% provide(:button_text, 'View Goals') %>

<% provide(:headerText, "Student Goals for #{@seminar.name}") %>
<% provide(:headerPic, 'apple.jpg') %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>
<%= render 'shared/navribbons/main_navribbon' %></br>


<h2><%= (@this_term).ordinalize %> Term Goals</h2>

<%= render 'shared/navribbons/navribbon_terms' %>
</br>
<%= render 'shared/big_link', link_link: print_goal_students_path(:seminar => @seminar), 
        link_text: "Printable Version", link_image: "apple.jpg"  %>
</br>


<% them_gs = @seminar.goal_students.where(:term => @this_term).sort_by{|item| item.user.last_name} %>
<% them_gs.each do |gs| %>
    <% @student = gs.user %>
    <%# @gs = student.goal_students.find_by(:seminar => @seminar, :term => @seminar.term) %>
    <% @gs = gs %>
    <% @gs_id = gs.id %>
    <table class="table-borderless" style="table-layout:fixed">
        <tr>
            <td colspan="3"><h3><strong><%= @student.last_name_first %></strong></h3></td>
            
            &emsp; <%= render 'goal_students/index_pieces/goal_choice' %>
        </tr>
        
        <tr>
            <%= render 'goal_students/index_pieces/target_cell' %>
            &emsp; <%= render 'goal_students/index_pieces/approval_button' %>
        </tr>
    </table>
    <% @edit_type_for_comment = "Teacher" %>
    <%= render 'shared/checkpoint_table/checkpoint_table' %>
<% end %>


</br>




