<% provide(:title, 'View Student Goals') %>
<% provide(:button_text, 'View Goals') %>

<% provide(:headerText, "View Student Goals") %>
<% provide(:headerPic, 'objectives.png') %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>


<h2>Showing Goals for Term <%= @this_term + 1 %>, Checkpoint <%= @this_checkpoint + 1 %></h2>

<%= render 'shared/navribbon_goals' %>
</br>

<table class="table-borderless" style="table-layout:fixed">
    <% them_kids = @seminar.students.order(:last_name) %>
    <% them_kids.each do |student| %>
        <% this_gs = student.goal_students.find_by(:seminar => @seminar, :term => @seminar.term) %>
        <% gs_id = this_gs.id if this_gs %>
        <tr><td colspan="2"><h3><strong><%= student.last_name_first %></strong></h3></td></tr>
        <tr>
            <% if this_gs.goal != nil %>
                <% button_message = this_gs.approved ? "Unlock This Goal" : "Lock This Goal" %>
                <td><div class="btn btn-primary goal_approval" id="approval_button_<%= gs_id %>" gs_id="<%= gs_id %>"><%= button_message %></div></td>
                <td><h3 id="goal_text_<%= gs_id %>"><%= this_gs.goal.name %></h3></td>
            <% else %>
                <td colspan="2"><h3 id="goal_text_<%= gs_id %>">No Goal Set</h3></td>
            <% end %>
        </tr>
        <tr>
            <td id="target_cell_<%= gs_id %>">
                <% if this_gs.target %>
                    <h5 id="target_text_<%= gs_id %>">Current Target: <%= this_gs.target %> %</h5>
                    </br>
                <% else %>
                    <h5>No target set</h5>
                <% end %>
                <%= select("syl", "target", percent_array.collect{|p| [ p[0], p[1] ] },  {:include_blank => "Choose Student's Target"}, {:class => "target_change select_box left_box",  :gs_id => "#{gs_id}", :id => "target_select_#{gs_id}"}) %>
            </td>
            <td>
                <%= select("syl", "goal", Goal.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "Choose Student's Goal"}, {:class => "goal_change select_box left_box", :gs_id => "#{gs_id}", :id => "goal_select_#{gs_id}"}) %>
            </td>
        </tr>
        <% this_gs.checkpoints.order(:sequence).each_with_index do |checkpoint, index| %>
            <% this_id = checkpoint.id %>
            <tr>
                <td>
                    <h5 id="achievement_text_<%= this_id %>"><%= checkpoint.achievement if checkpoint.achievement %></h5>
                    <%= select("syl", "achievement",  percent_array.collect{|p| [ p[0], p[1] ] }, {:include_blank => "Mark Achievement"}, 
                        {:class => "achievement_change select_box left_box", :checkpoint_id => "#{this_id}"}) %>
                </td>
                <td><%= checkpoint.statement %></td>
            </tr>
            <% if this_gs.goal %>
                <tr>
                    <td></td>
                    <td>
                       <%= select("syl", "action", this_gs.goal.actions[index], {:include_blank => "Choose Checkpoint #{index}"}, {:class => "checkpoint_change select_box left_box", :checkpoint_id => checkpoint.id }) %>
                    </td>
                </tr>
            <% end %>
            <tr>
                <% if checkpoint.student_comment %>
                    <td></td>
                    <td><strong><%= student.first_name %></strong>&emsp;<%= checkpoint.student_comment %></td>
                <% end %>
            </tr>
            <tr>
                <td></td>
                <td width="75%">
                    <% if checkpoint.teacher_comment %>
                        <strong>Me</strong>&emsp;<%= best_in_place(checkpoint, :teacher_comment, :inner_class => "commentInput") %>
                    <% else %>
                        <strong><%= best_in_place(checkpoint, :teacher_comment, :inner_class => "commentInput", :place_holder => "No comment yet") %></strong>
                    <% end %>
                    </br>
                </td>
            </tr>
        <% end %>
        <% unless student == them_kids.last %>
            <tr><td colspan="2" bgcolor="#AAFFAA"></br></td></tr>
        <% end %>
    <% end %>
</table>

<%= link_to "Printable Version", print_goal_students_path(:seminar => @seminar), :id => "#{@seminar.name} print goals" %>
</br>




