
<%= render 'shared/big_link', link_link: goal_students_path(:seminar => @seminar), 
        link_text: "Back to Viewing Goals", link_image: "apple.jpg"  %>
</br>
</br>
<div class="singleOption">
    </br>
    <h1><%= @seminar.name %></h1>
    </br>
    <h1><span class="no_print">Printable</span> Goals for Term <%= @this_term %>, Checkpoint <%= @this_checkpoint + 1 %></h1>
    </br>
    <h2 class="no_print">Click the "Print" feature in your web browser.</h2>
    </br>
    <h2 class="no_print">We recommend turning off headers and footers.</h2>
    </br>
    </br>
</div>
</br>
</br>
</br>
</br>

<% them_kids = @seminar.students.order(:last_name) %>

<% them_kids.each do |stud| %>
    <% @stud = stud %>
    <% @gs = stud.goal_students.find_by(:seminar => @seminar, :term => @seminar.term) %>
    <div class="break_here"></div>
    <div class="singleOption">
        <%= render 'goal_students/print_pieces/headline' %>
        <% @edit_type_for_comment = "Print" %>
        <%= render 'shared/checkpoint_table/checkpoint_table' %>
    </div>

<% end %>



