
<div>
    <h4>NOTE: Desk Consultants is currently in open BETA. Some errors are likely
    to occur. Please send problems, suggestions, or requests to zivkovic.jeff@gmail.com</h4>
</div>

<% if user_is_a_teacher %>
    <div class="ribbon">
        <table class="table-borderless">
            <tr>
                <td class="spacer"></td>
                
                <% teacher_show_links.each do |z| %>
                    <% if (action_name == z[3] && controller_name == z[4]) %>
                        <% @this_path = "#{z[2]}_url"  %>
                        <% break %>
                    <% end %>
                <% end %>
                
                <% if @this_path %>
                    <% current_user.seminars.order(:name).limit(10).each do |seminar| %>
                        <td class="<%= 'highlighted' if (@seminar && @seminar==seminar) %>">
                            <h5>
                                <%= link_to seminar.name[0], send(@this_path, seminar, :seminar_id => seminar.id), :id => "other_class_#{seminar.id}" %>
                                &nbsp;
                            </h5>
                        </td>
                        <td class="small_spacer"></td>
                    <% end %>
                <% end %>
            </tr>
        </table>
        
        <table class="table-borderless">
            <tr>
                <td class="small_spacer"></td>
                <td><%= link_to image_tag("home.png"), current_user, :id => "home_link" %></td>
                <td class="spacer"></td>
                
                <% if @seminar %>
                    <% teacher_show_links.each do |z| %>
                        <td class=" center <%= 'highlighted' if (action_name == z[3] && controller_name == z[4]) %>">
                            <%= link_to image_tag(z[1]), send("#{z[2]}_url", @seminar, :seminar_id => @seminar.id), :id => "#{z[2]}_#{@seminar.id}" %>
                        </td>
                    <% end %>
                <% end %>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="small_spacer"></td>
                
                <% if @seminar %>
                    <% teacher_show_links.each do |z| %>
                        <td class="<%= 'highlighted' if (action_name == z[3] && controller_name == z[4]) %> center">
                            <b><%= link_to z[0], send("#{z[2]}_url", @seminar, :seminar_id => @seminar.id) %></b>
                        </td>
                    <% end %>
                <% end %>
                
            </tr>
        </table>
    </div>
<% end %>

<br/>
