<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Mr. Z School", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: "delete", :id => "Log out" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  
  <% listOfQuotes = 
    ["It's time to stop treating 30 students like they all share one brain.",
    "Students should work with math that's interesting to them."] %>
  <% whichQuote = rand(listOfQuotes.length) %>
  <h5 class="slogan"><%= listOfQuotes[whichQuote] %></h5>
</header>
